{% extends "gymnastics/clubs/base.html" %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=club active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>
        {{ club }} <small>{{ athletes.count }} Athletes</small>
      </h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-warning" href="{% url 'clubs.edit' club.id %}">Edit</a>
        <a type="button" class="btn btn-danger" href="{% url 'clubs.delete' club.id %}">Delete</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#athletes" aria-controls="home" role="tab" data-toggle="tab">Athletes</a></li>
      <li role="presentation"><a href="#performances" aria-controls="messages" role="tab" data-toggle="tab">Performances</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="base">
      <table class="table table-hover table-condensed" id="athletes-table">
        {% include "base/athletes_list.html" with athletes_set=athletes only %}
      </table> 
    </div>

    <div role="tabpanel" class="tab-pane active" id="performances">
    </div>
  </div> 
  
{% endblock content %}