{% extends "gymnastics/clubs/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=club active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-7">
      <h1>
        {{ club }} <small>{{ athletes.count }} {% trans "Athletes" %}</small>
      </h1>
    </div>
    <div class="col-md-5 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-primary" href="{% url 'athletes_imports.new' %}?club_id={{ club.id }}">{% trans "Import Athletes" %}</a>
        <a type="button" class="btn btn-warning" href="{% url 'clubs.edit' club.id %}">{% trans "Edit" %}</a>
        <a type="button" class="btn btn-danger" href="{% url 'clubs.delete' club.id %}">{% trans "Delete" %}</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">{% trans "Previous Page" %}</button>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      {% if club.contact_name or club.contact_mail or club.contact_address %}
        <li role="presentation" class="active"><a href="#base" aria-controls="home" role="tab" data-toggle="tab">{% trans "General" %}</a></li>
        <li role="presentation"><a href="#athletes" aria-controls="home" role="tab" data-toggle="tab">{% trans "Athletes" %}</a></li>
      {% else %}
        <li role="presentation" class="active"><a href="#athletes" aria-controls="home" role="tab" data-toggle="tab">{% trans "Athletes" %}</a></li>
      {% endif %}
      <li role="presentation"><a href="#performances" aria-controls="messages" role="tab" data-toggle="tab">{% trans "Performances" %}</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      {% if club.contact_name or club.contact_mail or club.contact_address %}
        <div role="tabpanel" class="tab-pane active" id="base">
          <dl class="dl-horizontal dl-detail">
            {% if club.contact_name %}
              <dt>{% trans "Contact name" %}</dt>
              <dd>{{ club.contact_name }}</dd>
            {% endif %}

            {% if club.contact_name %}
              <dt>{% trans "Contact mail" %}</dt>
              <dd>{{ club.contact_mail }}</dd>
            {% endif %}

            {% if club.contact_name %}
              <dt>{% trans "Contact address" %}</dt>
              <dd>{{ club.contact_address }}</dd>
            {% endif %}
          </dl>
        </div>

        <div role="tabpanel" class="tab-pane" id="athletes">
          <table class="table table-hover table-condensed" id="athletes-table">
            {% include "gymnastics/includes/athletes_list.html" with athletes_set=athletes only %}
          </table>
        </div>
      {% else %}
        <div role="tabpanel" class="tab-pane active" id="athletes">
          <table class="table table-hover table-condensed" id="athletes-table">
            {% include "gymnastics/includes/athletes_list.html" with athletes_set=athletes only %}
          </table>
        </div>
      {% endif %}

      <div role="tabpanel" class="tab-pane" id="performances">
      </div>
    </div>
  </div>
  
{% endblock content %}