{% extends "gymnastics/clubs/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}
{% block action %}edit{% endblock action %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Update"/>
    <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Cancel</button>
  </form>
{% endblock content %}
