{% extends "gymnastics/clubs/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}
{% block action %}edit{% endblock action %}

{% load widget_tweaks %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group row text-right">
        <label class="col-md-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="col-md-4">
          {{ field|add_class:"form-control" }}
        </div>
      </div>
    {% endfor %}

    <div class="col-md-2">
    </div>
    <div class="col-md-5 btn-group">
      <input class="btn btn-primary" type="submit" value="Update"/>
      <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Cancel</button>
    </div>
  </form>
{% endblock content %}
