{% extends "gymnastics/clubs/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}
{% block action %}edit{% endblock action %}

{% load widget_tweaks %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field|add_class:"form-control" }}
      </div>
    {% endfor %}

    {% comment %}This is exactly the same for all edit templates -> refactor!{% endcomment %}
      <div>
        <input class="btn btn-primary" type="submit" value="Update"/>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Cancel</button>
      </div>
  </form>
{% endblock content %}
