{% extends "gymnastics/clubs/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_level_1 %}
  {% render_nav_item name='Clubs' url_name='clubs.index' url_id=None active=True %}
{% endblock nav_level_1 %}

{% block content %}

    {% if clubs %}

      <table class="table table-hover" id="clubs-table">
        <thead>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Contact name" %}</th>
          <th>{% trans "Contact mail" %}</th>
          <th>{% trans "Contact address" %}</th>
          <th>#{% trans "Athletes" %}</th>
          <th></th>
        </thead>
        <tbody>
          {% for club in clubs %}
            <tr id="club_{{ club.id }}">
              <td>{{ club.name }}</td>
              <td>{{ club.contact_name|default:'' }}</td>
              <td>{{ club.contact_mail|default:'' }}</td>
              <td>{{ club.contact_address|default:'' }}</td>
              <td>{{ club.athlete_set.all.count }}</td>
              <td class="text-right">
                <div class="btn-group" role="group">
                  <a type="button" class="btn btn-xs btn-primary" href="{% url 'athletes_imports.new' %}?club_id={{ club.id }}">{% trans "Import Athletes" %}</a>
                  <a  type="button" class="btn btn-xs btn-success"href="{% url 'clubs.detail' club.id %}"><span class="glyphicon glyphicon-search"></span> {% trans "detail" %}</a>
                  <a  type="button" class="btn btn-xs btn-warning"href="{% url 'clubs.edit' club.id %}"><span class="glyphicon glyphicon-edit"></span> {% trans "edit" %}</a>
                  <a  type="button" class="btn btn-xs btn-danger"href="{% url 'clubs.delete' club.id %}"><span class="glyphicon glyphicon-remove"></span> {% trans "delete" %}</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class="alert alert-info">{% trans "No clubs available in the database." %}</div>

    {% endif %}
  </div>
{% endblock content %}
