{% extends "gymnastics/clubs/base.html" %}

{% block content %}

    {% if clubs %}

      <table class="table table-hover" id="clubs-table">
        <thead>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          {% for club in clubs %}
            <tr id="club_{{ club.id }}">
              <td>{{ club.name }}</td>
              <td><a  type="button" class="btn btn-xs btn-success"href="{% url 'clubs.detail' club.id %}"><span class="glyphicon glyphicon-search"></span> detail</a></td>
              <td><a  type="button" class="btn btn-xs btn-warning"href="{% url 'clubs.edit' club.id %}"><span class="glyphicon glyphicon-edit"></span> edit</a></td>
              <td><a  type="button" class="btn btn-xs btn-danger"href="{% url 'clubs.delete' club.id %}"><span class="glyphicon glyphicon-remove"></span> delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class="alert alert-info">No clubs available in the database.</div>

    {% endif %}
  </div>
{% endblock content %}
