{% extends "gymnastics/performances/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=performance active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>
        {{ performance }} <small></small>
      </h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-warning" href="{% url 'performances.edit' performance.id %}">{% trans "Edit" %}</a>
        <a type="button" class="btn btn-danger" href="{% url 'performances.delete' performance.id %}">{% trans "Delete" %}</a>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#base" aria-controls="home" role="tab" data-toggle="tab">{% trans "General" %}</a></li>
      <!-- <li role="presentation"><a href="#placements" aria-controls="messages" role="tab" data-toggle="tab">Placements</a></li> -->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="base"> 
        <p>{% trans "Athlete" %}: <a href="{{ performance.athlete.get_absolute_url }}">{{ performance.athlete }}</a></p>
        <p>{% trans "Discipline" %}: <a href="{{ performance.discipline.get_absolute_url }}">{{ performance.discipline }}</a></p>
        <p>{% trans "Value" %}: {{ performance.value }}</p>
        {% if performance.value_final %}
          <p>{% trans "Value Final" %}: {{ performance.value_final }}</p>
        {% endif %}
      </div>
    </div>
  </div> 
  
{% endblock content %}