# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~

# ignore DS_Store
.DS_Store

# ignore all class files
*.class

#ignore all pyc files
*.pyc
__pycache__

# .python-version
.python-version

# tex to pdf files
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.out

# private folders
hidden/

# out
out/

# project files
.idea/

# ignore direnv build files
.direnv/
.envrc
