{% extends "gymnastics/teams/base.html" %}

{% load custom_template_tags %}

{% block nav_level_1 %}
  {% render_nav_item name='Teams' url_name='teams.index' url_id=None active=True %}
{% endblock nav_level_1 %}

{% block content %}

{% if teams %}

  <table class="table table-hover" id="team-table">
    {% include "base/teams_list.html" with teams_set=teams only %}
  </table>

{% else %}

  <div class="alert alert-info">No team available in the database.</div>

{% endif %}
{% endblock content %}