{% extends "gymnastics/disciplines/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=discipline active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>
        {{ discipline }} <small></small>
      </h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-warning" href="{% url 'disciplines.edit' discipline.id %}">{% trans "Edit" %}</a>
        <a type="button" class="btn btn-danger" href="{% url 'disciplines.delete' discipline.id %}">{% trans "Delete" %}</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">{% trans "Previous Page" %}</button>
      </div>
    </div>
  </div>

  {% if streams %}
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#streams" aria-controls="home" role="tab" data-toggle="tab">{% trans "Streams" %}</a></li>
        {% if performances %}
          <li role="presentation"><a href="#performances" aria-controls="messages" role="tab" data-toggle="tab">{% trans "Performances" %}</a></li>
        {% endif %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="streams">
          {% trans "This discipline is competed in following streams:" %}
          <ul>
            {% for stream in streams %}
              <li><a href="{{ stream.get_absolute_url }}">{{ stream }}</a></li>
            {% endfor %}
          </ul>
        </div>

        {% if performances %}
          <div role="tabpanel" class="tab-pane" id="performances">
            {% trans "Following scores has been achieved in this discipline:" %}
            <ul>
              {% for performance in performances %}
                <li><a href="{{ performance.athlete.get_absolute_url }}">{{ performance.athlete }}</a>: {{performance.value}}
                {% if performance.value_final %}
                  ({ % trans "Final" %}: {{ performance.value_final }})
                {% endif %}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock content %}