{% extends "gymnastics/disciplines/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}

{% block action %}detail{% endblock action %}

{% block content %}
  <h1>Discipline Details</h1>
  <p>{{ object.content }}</p>
  <p>Name: {{ object.name }}</p>

  <a type="button" class="btn btn-warning" href="{% url 'disciplines.edit' object.id %}">Edit</a>
  <a type="button" class="btn btn-danger" href="{% url 'disciplines.delete' object.id %}">Delete</a>
  <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
{% endblock content %}
