{% extends "gymnastics/disciplines/base.html" %}

{% load custom_template_tags %}

{% block nav_level_1 %}
  {% render_nav_item name='Disciplines' url_name='disciplines.index' url_id=None active=True %}
{% endblock nav_level_1 %}

{% block content %}

    {% if disciplines %}

      <table class="table table-hover" id="disciplines-table">
        <thead>
          <th>Name</th>
          <th></th>
        </thead>
        <tbody>
          {% for discipline in disciplines %}
            <tr id="discipline_{{ discipline.id }}">
              <td>{{ discipline.name }}</td>
              <td class="text-right">
                <div class="btn-group" role="group">
                  <a  type="button" class="btn btn-xs btn-success"href="{% url 'disciplines.detail' discipline.id %}"><span class="glyphicon glyphicon-search"></span> detail</a>
                  <a  type="button" class="btn btn-xs btn-warning"href="{% url 'disciplines.edit' discipline.id %}"><span class="glyphicon glyphicon-edit"></span> edit</a>
                  <a  type="button" class="btn btn-xs btn-danger"href="{% url 'disciplines.delete' discipline.id %}"><span class="glyphicon glyphicon-remove"></span> delete</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class="alert alert-info">No disciplines available in the database.</div>

    {% endif %}
  </div>
{% endblock content %}
