{% extends "gymnastics/base.html" %}

{% block content %}
  <div class="row">

    <div>Create new discipline <a href="{% url 'disciplines.new' %}">here</a></div>

    {% if disciplines %}

      <h3>Disciplines</h3>

      <br/>

      <table class="table" id="disciplines-table">
        <thead>
          <th>Discipline Name</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          {% for discipline in disciplines %}
            <tr id="discipline_{{ discipline.id }}">
              <td>{{ discipline.name }}</td>
              <td><a href="{% url 'disciplines.detail' discipline.id %}">details</a></td>
              <td><a href="{% url 'disciplines.edit' discipline.id %}">edit</a></td>
              <td><a href="{% url 'disciplines.delete' discipline.id %}">delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class="alert alert-info">No disciplines available in the database.</div>

    {% endif %}
  </div>
{% endblock content %}
