{% extends "gymnastics/base.html" %}

{% block nav_home_active %}<li>{% endblock nav_home_active %}
{% block nav_controller_active %}<li class="active">{% endblock nav_controller_active %}

{% block nav_controller_name %}<a href="{% url 'performances.index' %}">Performances </a>{% endblock nav_controller_name %}

{% block controller_actions %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Performances <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'performances.new' %}">New performance</a></li>
    </ul>
  </li>
{% endblock controller_actions %}

{% block controller_actions_elements %}
  
{% endblock controller_actions_elements %}
