{% extends "gymnastics/performances/base.html" %}

{% load custom_template_tags %}
                  
{% block nav_level_2 %}
  {% render_nav_item name=object url_name='performances.detail' url_id=object.id %}
{% endblock nav_level_2 %}
{% block nav_level_3 %}
  {% render_nav_item name='delete' active=True %}
{% endblock nav_level_3 %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
    <input class="btn btn-danger" type="submit" value="Confirm"/>
    <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">Cancel</button>
  </form>
{% endblock content %}
