{% extends "gymnastics/performances/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}

{% block action %}detail{% endblock action %}

{% block content %}
  <h1>Performance Details</h1>
  <p>{{ object.content }}</p>
  <p>Athlete: {{ object.athlete }}</p>
  <p>Athlete: {{ object.discipline }}</p>
  <p>Athlete: {{ object.performance }}</p>

  <a type="button" class="btn btn-warning" href="{% url 'performances.edit' object.id %}">Edit</a>
  <a type="button" class="btn btn-danger" href="{% url 'performances.delete' object.id %}">Delete</a>
  <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
{% endblock content %}
