{% extends "gymnastics/performances/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=performance active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>
        {{ performance }} <small></small>
      </h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-warning" href="{% url 'performances.edit' performance.id %}">Edit</a>
        <a type="button" class="btn btn-danger" href="{% url 'performances.delete' performance.id %}">Delete</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#base" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
      <!-- <li role="presentation"><a href="#placements" aria-controls="messages" role="tab" data-toggle="tab">Placements</a></li> -->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="base"> 
        <p>Athlete: <a href="{% url 'athletes.detail' performance.athlete.id %}">{{ performance.athlete }}</a></p>
        <p>Discipline: <a href="{% url 'disciplines.detail' performance.discipline.id %}">{{ performance.discipline }}</a></p>
        <p>Value: {{ performance.value }}</p>
        {% if performance.value_final %}
          <p>Value Final: {{ performance.value_final }}</p>
        {% endif %}
      </div>
    </div>
  </div> 
  
{% endblock content %}