{% extends "gymnastics/performances/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_level_1 %}
  {% render_nav_item name='Performances' url_name='performances.index' url_id=None active=True %}
{% endblock nav_level_1 %}

{% block content %}

    {% if performances %}
    
      <table class="table table-hover performances-table" id="performances-table">
        <thead>
          <th>{% trans "Athlete" %}</th>
          <th>{% trans "Discipline" %}</th>
          <th>{% trans "Value" %}</th>
          <th>{% trans "Value Final" %}</th>
          <th>
            <input type="search" class="light-table-filter form-control" data-table="performances-table" name="table_filter">
          </th>
        </thead>
        <tbody>
          {% for performance in performances %}
            <tr id="performance_{{ performance.id }}">
              <td><a href="{{ performance.athlete.get_absolute_url }">{{ performance.athlete }}</a></td>
              <td><a href="{% url 'disciplines.detail' performance.discipline.id %}">{{ performance.discipline }}</a></td>
              <td>{{ performance.value }}</td>
              <td>{{ performance.value_final|default:"" }}</td>
              <td class="text-right">
                <div class="btn-group" role="group">
                  <a  type="button" class="btn btn-xs btn-success"href="{% url 'performances.detail' performance.id %}"><span class="glyphicon glyphicon-search"></span> {% trans "detail" %}</a>
                  <a  type="button" class="btn btn-xs btn-warning"href="{% url 'performances.edit' performance.id %}"><span class="glyphicon glyphicon-edit"></span> {% trans "edit" %}</a>
                  <a  type="button" class="btn btn-xs btn-danger"href="{% url 'performances.delete' performance.id %}"><span class="glyphicon glyphicon-remove"></span> {% trans "delete" %}</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class="alert alert-info">{% trans "No performances available in the database." %}</div>

    {% endif %}
  </div>
{% endblock content %}
