{% extends "gymnastics/squads/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}

{% block action %}delete{% endblock action %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
    <input class="btn btn-danger" type="submit" value="Confirm"/>
    <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">Cancel</button>
  </form>
{% endblock content %}
