{% extends "gymnastics/squads/base.html" %}

{% load i18n %}
{% load custom_template_tags %}

{% block headline %}{{ squad }}{% endblock headline %}
{% block nav_main %}{{ squad }}{% endblock nav_main %}
{% block nav_main_url %}{{ squad.get_absolute_url }}{% endblock nav_main_url %}
{% block nav_links %}
  <li role="presentation" class="active">
    <a href="#athletes" aria-controls="athletes" role="tab" data-toggle="tab">
      <span class="nav-link-label">{% trans "Athletes" %}</span>
      <span class="nav-link-value">{{ athletes_count }}</span>
    </a>
  </li>
  <li role="presentation">
    <a href="#performances" aria-controls="performances" role="tab" data-toggle="tab">
      <span class="nav-link-label">{% trans "Performances" %}</span>
      <span class="nav-link-value">{{ performances_completed }}</span>
    </a>
  </li>
{% endblock nav_links %}
{% block nav_regular_buttons %}
  <a type="button" class="btn btn-primary navbar-btn" href="{% url 'squads.enter_performances' squad.slug squad.id %}">
    {% trans "Enter performances" %}
  </a>
  <a type="button" class="btn btn-warning navbar-btn" href="{{ squad.get_edit_url }}">
    {% trans "Edit" %}
  </a>
  <a  type="button" 
      class="btn btn-danger navbar-btn" 
      href="{{ squad.get_delete_url }}" >
    {% trans "Delete" %}
  </a>
{% endblock nav_regular_buttons %}

{% block content %}
<div class="panel panel-default" role="tabpanel">
  <div class="panel-body tab-content">

    <div id="athletes" class="tab-pane active" role="tabpanel">
      <table id="athletes-table" class="table table-hover table-condensed tablefilter">
        {% include "gymnastics/includes/athletes_list.html" with athletes_set=athletes only %}
      </table>
    </div>

    <div id="performances" class="tab-pane" role="tabpanel">
      {% for stream in streams %}
        {% with stream_id=stream.id %}
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <a data-toggle="collapse" href="#collapse_{{ stream_id }}" aria-expanded="true" aria-controls="collapse_{{ stream_id }}">
                <h3 class="panel-title">{{ stream }}</h3>
              </a>
            </div>
            {% with stream_disciplines=stream_disciplines_dict|get_item:stream_id stream_athletes=stream_athletes_dict|get_item:stream_id %}
              <div id="collapse_{{ stream_id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <table class="table table-hover table-condensed" id="stream-{{ stream }}-table">
                  <thead>
                    <th>{% trans "Athlete" %}</th>
                    {% for discipline in stream_disciplines %}
                      <th>{{ discipline }}</th>
                    {% endfor %}
                  </thead>
                  <tbody>
                      {% for athlete in stream_athletes %}
                        <tr id="athlete_{{ athlete.id }}">
                          {% with athlete_performances=athletes_disciplines_result_dict|get_item:athlete.id %}
                            <td><a href="{{ athlete.get_absolute_url }}">{{ athlete }}</a></td>
                            {% for discipline in stream_disciplines %}
                              <td>
                                {{ athlete_performances|get_item:discipline.id }}
                              </td>
                            {% endfor %}
                          {% endwith %}
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endwith %}
          </div>
        {% endwith %}
      {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}