{% extends "gymnastics/base.html" %}

{% block content %}
  <h1>Squad Details</h1>
  <p>{{ object.content }}</p>
  <p>Name: {{ object.name }}</p>
  <p>Athlete set: {{ object.athlete_set.all }}</p>

  <a type="button" class="btn btn-warning" href="{% url 'squads.edit' object.id %}">Edit</a>
  <a type="button" class="btn btn-warning" href="{% url 'squads.delete' object.id %}">Delete</a>
  <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
{% endblock content %}
