{% extends "gymnastics/squads/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}
{% block action %}new{% endblock action %}

{% block content %}
  <div class="row">

  <form action="" method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Create squad"/>
    <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">Cancel</button>
  </form>

  </div>
{% endblock content %}
