{% extends "gymnastics/athletes_imports/base.html" %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=athletes_import active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>{{ athletes_import }}<small> {{ athletes_import.athlete_set.count }} Athletes</small></h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-danger" href="{% url 'athletes_imports.delete' athletes_import.id %}">Delete Imported Athletes</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#athletes" aria-controls="home" role="tab" data-toggle="tab">Imported Athletes</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="athletes">
        <table class="table table-hover table-condensed" id="athletes-table">
          {% include "base/athletes_list.html" with athletes_set=athletes_import.athlete_set.all only %}
        </table>
      </div>
    </div>
  </div> 
  
{% endblock content %}