{% extends "gymnastics/athletes_imports/base.html" %}

{% load i18n %}

{% block headline %}
  {{ athletes_import }} <small>{{ athletes_import.club }}</small>
{% endblock headline %}
{% block nav_main %}{{ athletes_import }}{% endblock nav_main %}
{% block nav_main_url %}{% url 'athletes_imports.detail' athletes_import.id %}{% endblock nav_main_url %}
{% block nav_links %}
  <li role="presentation">
    <a href="#base" aria-controls="home" role="tab" data-toggle="tab">{% trans "General" %}</a>
  </li>
  <li role="presentation" class="active">
    <a href="#athletes" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Imported Athletes" %}</a>
  </li>
{% endblock nav_links %}
{% block nav_regular_buttons %}
  <a type="button" class="btn btn-danger navbar-btn" href="{% url 'athletes_imports.delete' athletes_import.id %}">{% trans "Delete Import" %}</a>
{% endblock nav_regular_buttons %}

{% block content %}
  <div class="panel panel-default" role="tabpanel">
    <div class="panel-body tab-content">
      <div role="tabpanel">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="base">

            <dl class="dl-horizontal dl-detail">
              <dt>{% trans "Club" %}</dt>
              <dd>
                {% if athletes_import.club %}
                  <a href="{% url 'clubs.detail' athletes_import.club.id %}">{{ athletes_import.club }}</a>
                {% endif %}
              </dd>

              <dt>{% trans "#Athletes" %}</dt>
              <dd>{{ athletes_count }}</dd>
            </dl>
          </div>

          <div role="tabpanel" class="tab-pane active" id="athletes">
            <table class="table table-hover table-condensed" id="athletes-table">
              {% include "gymnastics/includes/athletes_list.html" with athletes_set=athletes only %}
            </table>
          </div>
        </div>
      </div> 
    </div>
  </div>
{% endblock content %}