{% extends "gymnastics/athletes_imports/base.html" %}

{% load custom_template_tags %}

{% block nav_level_1 %}
  {% render_nav_item name='Athletes Imports' url_name='athletes_imports.index' url_id=None active=True %}
{% endblock nav_level_1 %}

{% block content %}

  {% if athletes_imports %}
    <table class="table table-hover" id="athletes-table">

      <thead>
        <th>Name</th>
        <th>Club</th>
        <th></th>
      </thead>
      <tbody>
        {% for athletes_import in athletes_imports %}
          <tr id="athlete_{{ athlete.id }}">
            <td>{{ athletes_import }}</td>
            <td>
              {% if athletes_import.club %}
                <a href="{% url 'clubs.detail' athletes_import.club.id %}">{{ athletes_import.club }}</a>
              {% endif %}
            </td>
            <td class="text-right">
              <div class="btn-group" role="group">
                <a  type="button" class="btn btn-xs btn-success"href="{% url 'athletes_imports.detail' athletes_import.id %}"><span class="glyphicon glyphicon-search"></span> detail</a>
                <a  type="button" class="btn btn-xs btn-danger"href="{% url 'athletes_imports.delete' athletes_import.id %}"><span class="glyphicon glyphicon-remove"></span> delete</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>


    </table>
  {% else %}
    <div class="alert alert-info">No athletes imports available in the database.</div>
  {% endif %}
  
{% endblock content %}
