{% extends "gymnastics/athletes_imports/base.html" %}
{% load i18n %}

{% load custom_template_tags %}
                  
{% block nav_level_2 %}
  {% render_nav_item name='new' active=True %}
{% endblock nav_level_2 %}


{% block content %}
  <form action="{% url 'athletes_imports.new' %}" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <label for="input_club" class="col-md-2 col-md-offset-1 control-label">Club:</label>
      <div class="col-md-6">
        <select class="form-control" id="input_club" name="club_id">
          <option value=""></option>
          {% for club in clubs %}
            <option value="{{ club.id }}" {% if selected_club_id == club.id %}selected{% endif %}>{{ club.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>    

    <div class="form-group">
      <label for="input_last_name" class="col-md-2 col-md-offset-1 control-label">Import Data:</label>
      <div class="col-md-6">
        <textarea class="form-control" id="input_last_name" rows="5" name="import_data" type="text" value=""></textarea>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-3 btn-group">
      <input class="btn btn-primary" type="submit" value="Import"/>
      <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">Cancel</button>
    </div>
  </form>
{% endblock content %}