{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% trans "Turnen" %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'gymnastics/images/favicon.ico' %}" />
    <link href="{% static 'gymnastics/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'gymnastics/css/bootstrap-theme.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'gymnastics/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'gymnastics/css/custom.css' %}" rel="stylesheet" media="screen">

  </head>
  <body>
    
    <div id="doc" class"container">

      <!-- top navbar -->
      <div class="navbar navbar-fixed-top navbar-inverse static-navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#static-navbar-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{% url 'home' %}">
            <img alt="Turnen" src="{% static 'gymnastics/images/logo_03.png' %}" width="130px" height="28px">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="static-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">{% trans "Tournament" %}</a></li>
            <li><a href="{% url 'streams.index' %}">{% trans "Streams" %}</a></li>
            <li><a href="{% url 'clubs.index' %}">{% trans "Clubs" %}</a></li>
            <li><a href="{% url 'athletes.index' %}">{% trans "Athletes" %}</a></li>
            <li><a href="{% url 'squads.index' %}">{% trans "Squads" %}</a></li>

            <!-- All menu item. Kinda legacy. -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "All" %}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'process' %}">Process</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'athletes.index' %}">{% trans "Athletes" %}</a></li>
                <li><a href="{% url 'clubs.index' %}">{% trans "Clubs" %}</a></li>
                <li><a href="{% url 'disciplines.index' %}">{% trans "Disciplines" %}</a></li>
                <li><a href="{% url 'performances.index' %}">{% trans "Performances" %}</a></li>
                <li><a href="{% url 'streams.index' %}">{% trans "Streams" %}</a></li>
                <li><a href="{% url 'squads.index' %}">{% trans "Squads" %}</a></li>
                <li><a href="{% url 'teams.index' %}">{% trans "Teams" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'athletes_imports.index' %}">{% trans "Import Athletes" %}</a></li>
                <li><a href="{% url 'squads.overview_pdf' %}" target="_blank">{% trans "Generate Overview PDF" %}</a></li>
                <li><a href="{% url 'squads.judge_pdf' %}" target="_blank">{% trans "Generate Judge PDF" %}</a></li>
              </ul>
            </li>

            <!-- Controller actions menu item. Also legacy. -->
            {% block controller_actions %}{% endblock controller_actions %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-sm btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              {% trans "Language" %} <span class="caret">
            </button>

            <ul class="dropdown-menu lang-menu" role="menu">
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}

              {% for lan in languages %}
                  {% language lan.code %}
                    <li><a href="{% url 'home' %}">{% trans lan.name %} ({{ lan.name_local }})</a></li>
                  {% endlanguage %}
              {% endfor %}
            </ul>

            <button type="button" class="btn btn-sm btn-default navbar-btn">Sign in</button>
          </ul>

        </div>
      </div> <!-- top navbar -->

      
      <div class="page-outer">
        <div class="page-container">

          <div class="page-header">
            <div class="page-header-inner">

              <div class="page-header-bg">
                <div class="page-header-bg-img">
                  <img alt="" src="{% static 'gymnastics/images/bg_header.jpeg' %}" style="transform: none;">
                </div>
              </div>

              <div class="page-header-navbar">
                <!-- app navbar -->
                <div class="navbar navbar-static-top navbar-inverse dynamic-navbar" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dynamic-navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <div class="collapse navbar-collapse" id="dynamic-navbar-collapse">
                      <div class="container">
                      <a class="navbar-brand name" href="{% block current_url %}#{% endblock current_url %}">
                          {% block name %}{% endblock name %}
                        </a>

                        <ul class="nav navbar-nav">
                          {% block nav_main %}
                          {% endblock nav_main %}
                        </ul>

                        <div class="nav navbar-nav navbar-right btn-group">
                          {% block nav_regular_buttons %}
                          {% endblock nav_regular_buttons %}
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div> <!-- app navbar -->
              </div>

            </div>          
          </div> <!-- page-header -->

          {% comment %}Allows to create messages via messages.error .warning .success and .info.{% endcomment %}
          <div id="gobal_message_container" class="container">
            {% if messages %}
              {% autoescape off %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissable">
                    <button type="button" class="close pull-right" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endautoescape %}
            {% endif %}
          </div>


          <div class="container">
            {% block content %}{% endblock content %}
          </div>

          {% block content_fullwidth %}{% endblock content_fullwidth %}
        </div> <!-- page container -->
      </div> <!-- page outer -->
    </div>

    <script src="{% static 'gymnastics/js/jquery-1.11.2.js' %}"></script>
    <script src="{% static 'gymnastics/js/bootstrap.js' %}"></script>
    <script src="{% static 'gymnastics/js/jquery.confirm.js' %}"></script>
    <script src="{% static 'gymnastics/js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'gymnastics/js/light_table_filter.js' %}"></script>
    <script src="{% static 'gymnastics/js/custom.js' %}"></script>

    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
