{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Gymnastics {% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/ico" href="{% static 'dos/images/favicon.ico' %}">-->
    <!-- <link rel="shortcut icon" href="{% static 'dos/images/favicon.ico' %}" /> -->
    <link href="{% static 'gymnastics/bootstrap-3.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>
    
    <div class="container">

      <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Gymnastics</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}" class="home"><span class="glyphicon glyphicon-home"></span> Home </a></li>
              <li class="active"><a href="{% url 'home' %}">Controller</a></li>
              <li><a href="#">Action</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Preparation</a></li>
                  <li><a href="#">RSVP</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Add Stream Report</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Models <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'disciplines.index' %}">Disciplines</a></li>
                  <li><a href="#">Streams</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'clubs.index' %}">Clubs</a></li>
                  <li><a href="#">Teams</a></li>
                  <li><a href="#">Athletes</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'squads.index' %}">Squads</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'squads.index' %}">Results / Performances</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      {% block content %}

      {% endblock content %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'gymnastics/bootstrap-3.3.2-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
