{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Gymnastics{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'gymnastics/images/favicon.ico' %}" />
    <link href="{% static 'gymnastics/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'gymnastics/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'gymnastics/css/bootstrap-table.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'gymnastics/css/custom.css' %}" rel="stylesheet" media="screen">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
  </head>
  <body>
    
    <div class"container">

      <!-- Navbar -->
      <div class="navbar-wrapper">
        <div class="container">
          <nav class="navbar navbar-static-top navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Gymnastics</a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  {% load custom_template_tags %}
                  
                  {% block nav_level_0 %}
                    {% render_nav_item name='Home' url_name='home' active=True %}
                  {% endblock nav_level_0 %}
                  {% block nav_level_1 %}{% endblock nav_level_1 %}
                  {% block nav_level_2 %}{% endblock nav_level_2 %}
                  {% block nav_level_3 %}{% endblock nav_level_3 %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  {% block controller_actions %}{% endblock controller_actions %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'todo' %}">Todo</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Preparation</a></li>
                      <li><a href="#">RSVP</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'athletes_imports.index' %}">Import Athletes</a></li>
                      <li><a href="#">Add Stream Report</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Models <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'disciplines.index' %}">Disciplines</a></li>
                      <li><a href="{% url 'streams.index' %}">Streams</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'athletes.index' %}">Athletes</a></li>
                      <li><a href="{% url 'clubs.index' %}">Clubs</a></li>
                      <li><a href="{% url 'teams.index' %}">Teams</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'squads.index' %}">Squads</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'performances.index' %}">Performances</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      {% comment %}Allows to create messages via messages.error .warning .success and .info.{% endcomment %}
      <div id="gobal_message_container" class="container">
        {% if messages %}
          {% autoescape off %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close pull-right" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
              </div>
            {% endfor %}
          {% endautoescape %}
        {% endif %}
      </div>


      <div class="container">
        {% block content %}{% endblock content %}
      </div>

      {% block content_fullwidth %}{% endblock content_fullwidth %}
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Confirm Delete</h4>
          </div>
          <div class="modal-body">
            <p class="delete-modal-question"></p>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-danger delete-modal-confirm">Delete</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'gymnastics/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'gymnastics/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'gymnastics/js/light_table_filter.js' %}"></script>
    <script src="{% static 'gymnastics/js/custom.js' %}"></script>
  </body>
</html>
