{% extends "gymnastics/base.html" %}
{% load i18n %}

{% load custom_template_tags %}
                  
{% block nav_level_0 %}
  {% render_nav_item name='Home' url_name='home' %}
{% endblock nav_level_0 %}
{% block nav_level_1 %}
  {% render_nav_item name='Process' url_name='process' url_id=None active=True %}
{% endblock nav_level_1 %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Overall Process</h3>
    </div>

    <div class="panel-body">
      <h4>Progress</h4>

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="4" style="width: 25%;">
          <span class="sr-only">25% Complete</span>
          1/4
        </div>
      </div>

      <h4>Progress</h4>
    </div>

    <ul class="list-group">
      <li class="list-group-item list-group-item-info panel-list-group-item">
        <div class="col-md-6">
          <a type="button" class="btn btn-xs btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span></a>
          Preparation
        </div>
        <div class="col-md-6 text-right">
          <!-- <div class="btn-group" role="group"> -->
            <a type="button" class="btn btn-sm btn-primary" href="#">Tournament</a>
            <a type="button" class="btn btn-sm btn-primary" href="{% url 'disciplines.index' %}">Disciplines</a>
            <a type="button" class="btn btn-sm btn-primary" href="{% url 'streams.index' %}">Streams</a>
          <!-- </div> -->
        </div>
      </li>
      <li class="list-group-item panel-list-group-item panel-list-group-item">
        <div class="col-md-6">
          <a type="button" class="btn btn-xs btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
          RSVPs
        </div>
        <div class="col-md-6 text-right">
          <div class="btn-group" role="group">
            <a type="button" class="btn btn-sm btn-primary" href="{% url 'clubs.index' %}">Clubs</a>
            <a type="button" class="btn btn-sm btn-primary" href="{% url 'athletes.index' %}">Athletes</a>
            <a type="button" class="btn btn-sm btn-primary" href="{% url 'athletes_imports.index' %}">Import Athletes</a>
          </div>
        </div>
      </li>
      <li class="list-group-item panel-list-group-item panel-list-group-item">
        <div class="col-md-6">
          <a type="button" class="btn btn-xs btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
          Results
        </div>
        <div class="col-md-6 text-right">
          <!-- <div class="btn-group" role="group"> -->
            <a type="button" class="btn btn-sm btn-primary" href="{% url 'squads.index' %}">Squads</a>
          <!-- </div> -->
        </div>
      </li>
      <li class="list-group-item panel-list-group-item panel-list-group-item">
        <div class="col-md-6">
          <a type="button" class="btn btn-xs btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a>
          Evaluation
        </div>
        <div class="col-md-6 text-right">
          <!-- <div class="btn-group" role="group"> -->
            <a type="button" class="btn btn-sm btn-primary btn-block" href="{% url 'streams.index' %}">Streams</a>
          <!-- </div> -->
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
