{% extends "gymnastics/base.html" %}

{% block nav_home_active %}<li>{% endblock nav_home_active %}
{% block nav_controller_active %}<li class="active">{% endblock nav_controller_active %}
{% block nav_controller_name %}<a href="#">TODO </a>{% endblock nav_controller_name %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Gymnastics TODO</h1>
      <p>Important and Urgent</p>
      <ul>
        <li>Functionality: Seeds</li>
      </ul>
    </div>
  </div> <!-- /container -->

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Functionality</h2>
        <ul>
          <li>Seeds</li>
          <li>Create athletes via Teilnehmertabelle</li>
          <li>Create athletes via club details page</li>
          <li>Analyses</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Bugs</h2>
        <ul>
          <!-- <li></li> -->
        </ul>
     </div>
      <div class="col-md-4">
        <h2>Layout and Styling</h2>
        <ul>
          <li>Buttons with consistent styling</li>
          <li>Navbar for all used controllers (clubs, streams, squads, ...)</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
