{% extends "gymnastics/base.html" %}

{% block nav_home_active %}<li>{% endblock nav_home_active %}
{% block nav_controller_active %}<li class="active">{% endblock nav_controller_active %}
{% block nav_controller_name %}<a href="#">TODO </a>{% endblock nav_controller_name %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1>TODO</h1>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Functionality <span class="badge">7</span></li>
            <li class="list-group-item list-group-item-danger">Bugs <span class="badge">1</span></li>
            <li class="list-group-item list-group-item-danger">Layout and Styling <span class="badge">6</span></li>
          </ul>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Recently finished:</h3>
            </div>
            <div class="panel-body">
              Consistent Buttons layout for the whole app, TODO page
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Functionality</h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">Reevaluate finals setup (User requests finals, system finds athletes, how and where is the data stored?)</li>
          <li class="list-group-item list-group-item-success">Second athletes index with discipline results</li>
          <li class="list-group-item list-group-item-warning">Create athletes via Teilnehmertabelle</li>
          <li class="list-group-item list-group-item-warning">Create athletes via club details page</li>
          <li class="list-group-item list-group-item-success">Message and alert box</li>
          <li class="list-group-item list-group-item-success">Setup alert system</li>
          <li class="list-group-item list-group-item-info">Analyses</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Bugs</h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">Correctly apply Bootstrap Layout</li>
        </ul>
     </div>
      <div class="col-md-4">
        <h2>Layout and Styling</h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">WIP: Navbar for all used controllers (clubs, streams, squads, ...)</li>
          <li class="list-group-item list-group-item-danger">Forms with bootstrap basic layout</li>
          <li class="list-group-item list-group-item-success">Full-width carousel on home page</li>
          <li class="list-group-item list-group-item-success">JS popup for delete confirmation</li>
          <li class="list-group-item list-group-item-info">Evaluate usages for js tabs</li>
          <li class="list-group-item list-group-item-info">Evaluate usages for js popups</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
