{% extends "gymnastics/tournaments/base.html" %}

{% load i18n %}
{% load custom_template_tags %}

{% block headline %}{{ tournament }}{% endblock headline %}
{% block nav_main %}{{ tournament }}{% endblock nav_main %}
{% block nav_main_url %}{% url 'tournaments.detail' tournament.id %}{% endblock nav_main_url %}
{% block nav_links %}
  <li role="presentation" class="active">
    <a href="#base" aria-controls="home" role="tab" data-toggle="tab">{% trans "General" %}</a>
  </li>
  <li role="presentation">
    <a href="#evaluation" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Evaluation" %}</a>
  </li>
{% endblock nav_links %}
{% block nav_regular_buttons %}
  <a type="button" class="btn btn-warning navbar-btn" href="{% url 'tournaments.edit' tournament.id %}">{% trans "Edit" %}</a>
  <a type="button" class="btn btn-danger navbar-btn tournament-detail-delete" href="{% url 'tournaments.delete' tournament.id %}">{% trans "Delete" %}</a>
  <a type="button" class="btn btn-default navbar-btn" href="{% url 'tournaments.index' %}">{% trans "All tournaments" %}</a>
{% endblock nav_regular_buttons %}

{% block content %}

  <div class="panel panel-default" role="tabpanel">

    <div class="panel-body tab-content">
      <div role="tabpanel" class="tab-pane active" id="base">

        <dl class="dl-horizontal dl-detail">
          <dt>{% trans "Name" %}</dt>
          <dd>{{ tournament.name }}</dd>

          <dt>{% trans "Full name" %}</dt>
          <dd>{{ tournament.name_full }}</dd>

          <dt>{% trans "Date" %}</dt>
          <dd>{{ tournament.date }}</dd>

          <dt>{% trans "Location" %}</dt>
          <dd>
            {{ tournament.street|default:'' }}
            <br/>
            {{ tournament.zip_code|default:'' }} {{ tournament.city|default:'' }}
          </dd>

          <dt>{% trans "Hosting club" %}</dt>
          <dd>
            {% if tournament.hosting_club %}
              <a href="{% url 'clubs.detail' tournament.hosting_club.id %}">{{ tournament.hosting_club }}</a>
            {% endif %}
          </dd>
        </dl>

      </div>

      <div role="tabpanel" class="tab-pane" id="evaluation">
      <a href="{% url 'tournaments.create_certificates_pdf' %}">{% trans 'Generate certificates' %}</a>
      </div>
    </div>
  </div>

{% endblock content %}