{% extends "gymnastics/teams/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_main %}{% trans 'Teams' %}{% endblock nav_main %}
{% block nav_main_url %}{% url 'teams.index' %}{% endblock nav_main_url %}

{% block content %}

{% if teams %}

  <table class="table table-hover tablefilter" id="team-table">
    {% include "gymnastics/includes/teams_list.html" with teams_set=teams only %}
  </table>

{% else %}

  <div class="alert alert-info">{% trans "No team available in the database." %}</div>

{% endif %}
{% endblock content %}