{% extends "gymnastics/tournaments/base.html" %}

{% load i18n %}
{% load custom_template_tags %}

{% block nav_main %}{{ tournament }}{% endblock nav_main %}
{% block nav_main_url %}
  {{ tournament.get_absolute_url }}
{% endblock nav_main_url %}
{% block nav_links %}
  <li role="presentation" class="active">
    <a href="#base" aria-controls="home" role="tab" data-toggle="tab">{% trans "General" %}</a>
  </li>
  <li role="presentation">
    <a href="#evaluation" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Evaluation" %}</a>
  </li>
{% endblock nav_links %}
{% block nav_regular_buttons %}
  <a type="button" class="btn btn-warning navbar-btn" href="{{ tournament.get_edit_url }}">{% trans "Edit" %}</a>
  <a type="button" class="btn btn-danger navbar-btn tournament-detail-delete" href="{{ tournament.get_delete_url }}">{% trans "Delete" %}</a>
  <a type="button" class="btn btn-default navbar-btn" href="{% url 'tournaments.index' %}">{% trans "All tournaments" %}</a>
{% endblock nav_regular_buttons %}

{% block content %}

  <div class="panel panel-default" role="tabpanel">

    <div class="panel-body tab-content">
      <div role="tabpanel" class="tab-pane active" id="base">

        <dl class="dl-horizontal dl-detail">
          <dt>{% trans "Name" %}</dt>
          <dd>{{ tournament.name }}</dd>

          <dt>{% trans "Full name" %}</dt>
          <dd>{{ tournament.name_full }}</dd>

          <dt>{% trans "Date" %}</dt>
          <dd>{{ tournament.date }}</dd>

          {% if tournament.hosting_club %}
            <dt>{% trans "Hosting club" %}</dt>
            <dd>
                <a href="{{ tournament.hosting_club.get_absolute_url }}">{{ tournament.hosting_club }}</a>
            </dd>
          {% endif %}

          {% if tournament.address %}
            {% if tournament.address.contact_name %}
              <dt>{% trans "Contact name" %}</dt>
              <dd>{{ tournament.address.contact_name }}</dd>
            {% endif %}

            {% if tournament.address.email %}
              <dt>{% trans "Contact e-mail" %}</dt>
              <dd>{{ tournament.address.email }}</dd>
            {% endif %}

            {% if tournament.address.phone %}
              <dt>{% trans "Contact phone" %}</dt>
              <dd>{{ tournament.address.phone }}</dd>
            {% endif %}

            {% if tournament.address.address_formatted %}
              <dt>{% trans "Location" %}</dt>
              <dd>{{ tournament.address.address_formatted|linebreaksbr }}</dd>
            {% endif %}
          {% endif %}

          {% if tournament.management %}
            <dt>{% trans "Management" %}</dt>
            <dd>{{ tournament.management }}</dd>
          {% endif %}

          {% if tournament.organisation %}
            <dt>{% trans "Organisation" %}</dt>
            <dd>{{ tournament.organisation }}</dd>
          {% endif %}

          {% if tournament.calculation %}
            <dt>{% trans "Calculation" %}</dt>
            <dd>{{ tournament.calculation }}</dd>
          {% endif %}

          {% if tournament.technology %}
            <dt>{% trans "Technology" %}</dt>
            <dd>{{ tournament.technology }}</dd>
          {% endif %}

        </dl>

      </div>

      <div role="tabpanel" class="tab-pane" id="evaluation">
        <div class="col-md-3 col-md-offset-1">
          <div class="list-group">
            <a class="list-group-item disabled">{% trans 'Tournament preparation' %}</a>
                <a class="list-group-item" href="{% url 'squads.create_overview_pdf' %}" target="_blank">
                  {% trans "Generate squad overview" %}
                </a>
                <a class="list-group-item" href="{% url 'squads.create_judge_pdf' %}" target="_blank">
                  {% trans "Generate judge lists" %}
                </a>
            <a class="list-group-item disabled">{% trans 'Tournament evaluation' %}</a>
            <a class="list-group-item" href="{{ tournament.get_evaluation_url }}" target="_blank">
              {% trans 'Generate evaluation' %}
            </a>
            {% comment %}
              <a class="list-group-item" href="{% url 'tournaments.create_certificates_pdf' %}" target="_blank">{% trans 'Generate solo certificates' %}</a>
              <a class="list-group-item" href="{% url 'tournaments.create_certificates_pdf' %}" target="_blank">{% trans 'Generate team certificates' %}</a>
            {% endcomment %}
            <a class="list-group-item" href="{{ tournament.get_solo_certificate_data_url }}" target="_blank">
              {% trans 'Generate raw solo data' %}
            </a>
            <a class="list-group-item" href="{{ tournament.get_team_certificate_data_url }}" target="_blank">
              {% trans 'Generate raw team data' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}