{% extends "gymnastics/athletes/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}

{% block action %}delete{% endblock action %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input class="btn btn-lg btn-primary" type="submit" value="Confirm"/>
    <input class="btn btn-lg btn-warning" type="button" value="Previous Page" onClick="javascript:history.go(-1);">
  </form>
{% endblock content %}
