{% extends "gymnastics/athletes/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}

{% block action %}delete{% endblock action %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
    <p>Are you sure you want to delete "{{ object.first_name }}, {{ object.last_name }}"?</p>
    <input type="submit" value="Confirm" />
    <a href="{% url 'athletes.index' %}">back</a>
  </form>
{% endblock content %}
