{% extends "gymnastics/athletes/base.html" %}

{% load i18n %}
{% load custom_template_tags %}

{% block headline %}{{ athlete }} <small>{{ athlete.club }}</small>{% endblock headline %}
{% block name %}{{ athlete }}{% endblock name %}
{% block nav_main_url %}{% url 'athletes.detail' athlete.id %}{% endblock nav_main_url %}
{% block nav_links %}{% endblock nav_links %}
{% block nav_regular_buttons %}
  <a type="button" class="btn btn-warning navbar-btn" href="{% url 'athletes.edit' athlete.id %}">{% trans "Edit" %}</a>
  <a type="button" class="btn btn-danger navbar-btn athlete-detail-delete" href="{% url 'athletes.delete' athlete.id %}">{% trans "Delete" %}</a>
  <button type="button" class="btn btn-default navbar-btn" onClick="javascript:history.go(-1);">{% trans "Previous Page" %}</button>
{% endblock nav_regular_buttons %}

{% block content %}
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#base" aria-controls="home" role="tab" data-toggle="tab">{% trans "General" %}</a>
      </li>
      <li role="presentation">
        <a href="#performances" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Results" %}</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="base">
        <p>{% trans "Sex" %}:
          {% if athlete.sex == 'f' %}
            <span class="gend gend-female"><i class="fa fa-venus fa-fw"></i></span>
          {% else %}
            <span class="gend gend-male"><i class="fa fa-mars fa-fw"></i></span>
          {% endif %}
        </p>
        <p>{% trans "Year of Birth" %}: {{ athlete.year_of_birth }}</p>
        {% if athlete.club %}
          <p>{% trans "Club" %}: <a href="{% url 'clubs.detail' athlete.club.id %}">{{ athlete.club }}</a></p>
        {% endif %}
        {% if athlete.squad %}
          <p>{% trans "Squad" %}: <a href="{% url 'squads.detail' athlete.squad.id %}">{{ athlete.squad }}</a></p>
        {% endif %}
        <p>{% trans "Stream" %}: <a href="{% url 'streams.detail' athlete.stream.id %}">{{ athlete.stream }}</a></p>
        {% if athlete.team %}
          <p>{% trans "Team" %}: <a href="{% url 'teams.detail' athlete.team.id %}">{{ athlete.team }}</a></p>
        {% endif %}
      </div>

      <div role="tabpanel" class="tab-pane" id="performances">
        <table class="table table-hover table-condensed" id="stream-table">
          <thead>
            <th>Discipline</th>
            <th>Value</th>
            <th>Rank</th>
            {% if athlete.stream.discipline_finals %}
              <th>Final Value</th>
              <th>Final Rank</th>
            {% endif %}
          </thead>
          <tbody>
            {% for discipline in disciplines %}
              <tr id="discipline_{{ discipline.id }}">
                <td><a href="{% url 'disciplines.detail' discipline.id %}">{{ discipline }}</a></td>
                <td>{{ athlete_disciplines_result_dict|get_item:discipline.id|default:'' }}</td>
                <td>
                  {% if athlete_disciplines_result_dict|get_item:discipline.id %}
                    {{ athlete_disciplines_rank_dict|get_item:discipline.id }}
                  {% endif %}
                </td>
                {% if athlete.stream.discipline_finals %}
                  <td></td>
                  <td></td>
                {% endif %}
              </tr>
            {% endfor %}
            {% if athlete.stream.all_around_individual %}
              <tr id="all_around_total">
                <td>Total</td>
                <td>{{ athlete_disciplines_result_dict|get_item:'total'|default:'' }}</td>
                <td>
                  {% if athlete_disciplines_result_dict|get_item:'total' %}
                    {{ athlete_disciplines_rank_dict|get_item:'total' }}
                  {% endif %}
                </td>
                {% if athlete.stream.discipline_finals %}
                  <td></td>
                  <td></td>
                {% endif %}
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}