{% extends "gymnastics/athletes/base.html" %}

{% block nav_controller_active %}<li>{% endblock nav_controller_active %}
{% block nav_action_active %}<li class="active">{% endblock nav_action_active %}

{% block action %}detail{% endblock action %}

{% block content %}
  <h1>Athlete Details</h1>
  <p>{{ object.content }}</p>
  <p>First name: {{ object.first_name }}</p>
  <p>Last name: {{ object.last_name }}</p>
  <p>Sex: {{ object.sexLong }}</p>
  <p>Year of birth: {{ object.year_of_birth }}</p>
  <p>Club: {{ object.club }}</p>
  <p>Squad: {{ object.squad }}</p>
  <p>Stream: {{ object.stream }}</p>
  <p>Team: {{ object.team }}</p>

  <button type="button" class="btn btn-lg btn-warning" onClick="javascript:history.go(-1);">Previous Page</button>
  <a class="btn btn-warning" href="{% url 'athletes.edit' object.id %}">edit</a>
{% endblock content %}
