{% extends "gymnastics/athletes/base.html" %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=athlete active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>
        {{ athlete }} <small>{{ athlete.club }}</small>
      </h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-warning" href="{% url 'athletes.edit' athlete.id %}">Edit</a>
        <a type="button" class="btn btn-danger" href="{% url 'athletes.delete' athlete.id %}">Delete</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#base" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
      <li role="presentation"><a href="#performances" aria-controls="profile" role="tab" data-toggle="tab">Performances</a></li>
      <li role="presentation"><a href="#placements" aria-controls="messages" role="tab" data-toggle="tab">Placements</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="base">
        <p>Sex: {{ athlete.get_sex_display }}</p>
        <p>Year of birth: {{ athlete.year_of_birth }}</p>
        <p>Club: {{ athlete.club }}</p>
        <p>Squad: {{ athlete.squad }}</p>
        <p>Stream: {{ athlete.stream }}</p>
        <p>Team: {{ athlete.team }}</p>
      </div>

      <div role="tabpanel" class="tab-pane" id="performances">
        {% if athlete.stream.all_around_individual %}
          <table class="table table-hover table-condensed" id="stream-table">
            <thead>
              <th>Discipline</th>
              <th>Value</th>
              {% if athlete.stream.discipline_finals %}
                <th>Final Value</th>
                <th>Final Rank</th>
              {% endif %}
            </thead>
            <tbody>
              {% for performance in athlete.performance_set.all %}
                <tr id="performance_{{ performance.id }}">
                  <td><a href="{% url 'disciplines.detail' performance.id %}">{{ performance.discipline }}</a></td>
                  <td>{{ performance.value }}</td>
                  {% if athlete.stream.discipline_finals %}    
                    <td>{{ performance.value_final }}</td>
                    <td>toDo</td>
                  {% endif %}
                </tr>
              {% endfor %}
                <tr id="all_around_total">
                  <td>Total</td>
                  <td>{{ athlete.all_around_total }}</td>
                  {% if athlete.stream.discipline_finals %}  
                    <td></td>
                    <td></td>
                  {% endif %}
                </tr>
                <tr id="performance_rank">
                  <td>Rank</td>
                  <td>{{ athlete_all_around_rank }}</td>
                  {% if athlete.stream.discipline_finals %}
                    <td></td>
                    <td></td>
                  {% endif %}
                </tr>
            </tbody>
          </table>
        {% endif %}
      </div>

      <div role="tabpanel" class="tab-pane" id="placements">  
      </div>
    </div>
  </div> 
  
{% endblock content %}