{% extends "gymnastics/athletes/base.html" %}

{% load i18n %}

{% block name %}Athletes{% endblock name %}
{% block current_url %}{% url 'athletes.index' %}{% endblock current_url %}

{% block nav_main %}
  <li><a href="{% url 'athletes.results' %}">{% trans "Results" %}</a></li>
{% endblock nav_main %}

{% block nav_regular_buttons %}
  <a type="button" class="btn btn-default navbar-btn" href="{% url 'athletes.new' %}">{% trans "New athlete" %}</a>
{% endblock nav_regular_buttons %}

{% block content %}

  {% if athletes %}
    <table class="table table-hover athletes-table" id="athletes-table">
      {% include "gymnastics/includes/athletes_list.html" with athletes_set=athletes only %}
    </table>
  {% else %}
    <div class="alert alert-info">{% trans "No athletes available in the database." %}</div>
  {% endif %}
  
{% endblock content %}
