{% extends "gymnastics/athletes/base.html" %}

{% block content %}
  <div>

    {% if athletes %}

      <table class="table table-striped" id="athletes-table">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Sex</th>
          <th>Year of birth</th>
          <th>Club</th>
          <th>Squad</th>
          <th>Stream</th>
          <th>Team</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          {% for athlete in athletes %}
            <tr id="athlete_{{ athlete.id }}">
              <td>{{ athlete.first_name }}</td>
              <td>{{ athlete.last_name }}</td>
              <td>{{ athlete.sexLong }}</td>
              <td>{{ athlete.year_of_birth }}</td>
              <td>{{ athlete.club }}</td>
              <td>{{ athlete.squad }}</td>
              <td>{{ athlete.stream }}</td>
              <td>{{ athlete.team }}</td>
              <td><a href="{% url 'athletes.detail' athlete.id %}">details</a></td>
              <td><a href="{% url 'athletes.edit' athlete.id %}">edit</a></td>
              <td><a href="{% url 'athletes.delete' athlete.id %}">delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class="alert alert-info">No athletes available in the database. Create one <a href="{% url 'athletes.new' %}">here</a>.</div>

    {% endif %}
    
  </div>
{% endblock content %}
