{% extends "gymnastics/athletes/base.html" %}

{% load custom_template_tags %}

{% block nav_level_1 %}
  {% render_nav_item name='Athletes' url_name='athletes.index' url_id=None active=True %}
{% endblock nav_level_1 %}

{% block content %}

  {% if athletes %}
    <table class="table table-hover" id="athletes-table">
      {% include "base/athletes_list.html" with athletes_set=athletes only %}
    </table>
  {% else %}
    <div class="alert alert-info">No athletes available in the database. Create one <a href="{% url 'athletes.new' %}">here</a>.</div>
  {% endif %}
  
{% endblock content %}
