{% extends "gymnastics/athletes/base.html" %}

{% load custom_template_tags %}
                  
{% block nav_level_2 %}
  {% render_nav_item name='new' active=True %}
{% endblock nav_level_2 %}

{% load widget_tweaks %}

{% block content %}
<form action="" method="post" class="form-horizontal">
{% csrf_token %}

  {% for field in form %}
    <div class="form-group row text-right">
      <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
      <div class="col-md-4">
        {{ field|add_class:"form-control" }}
      </div>
    </div>
  {% endfor %}

  <div class="col-md-5 col-md-offset-4 btn-group">
    <input class="btn btn-primary" type="submit" value="Create athlete"/>
    <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">Cancel</button>
  </div>
</form>
{% endblock content %}
