{% extends "gymnastics/athletes/base.html" %}

{% load i18n %}

{% block headline %}{% trans 'Create new Athlete' %}{% endblock headline %}
{% block name %}{% trans 'New Athlete' %}{% endblock name %}
{% block nav_main_url %}#{% endblock nav_main_url %}
{% block nav_links %}{% endblock nav_links %}
{% block nav_regular_buttons %}{% endblock nav_regular_buttons %}

{% block content %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  {% include "gymnastics/includes/form.html" with form=form mode='new' only %}
</form>
{% endblock content %}