{% load i18n %}

<thead>
  <th>{% trans "First Name" %}</th>
  <th>{% trans "Last Name" %}</th>
  <th>{% trans "Sex" %}</th>
  <th>{% trans "Date of Birth" %}</th>
  <th>{% trans "Club" %}</th>
  <th>{% trans "Stream" %}</th>
  <th>{% trans "Team" %}</th>
  <th>{% trans "Squad" %}</th>
  <th></th>
</thead>
<tbody>
  {% for athlete in athletes_set %}
    <tr id="athletes_row_{{ athlete.id }}">
      <td>{{ athlete.first_name }}</td>
      <td>{{ athlete.last_name }}</td>
      {% if athlete.sex == 'f' %}
        <td class="gend gend-female"><i class="fa fa-venus fa-fw"></i></td>
      {% else %}
        <td class="gend gend-male"><i class="fa fa-mars fa-fw"></i></td>
      {% endif %}
      <td>{{ athlete.date_of_birth|date:'SHORT_DATE_FORMAT' }}</td>
      <td>
        {% if athlete.club %}
          <a href="{% url 'clubs.detail' athlete.club.id %}">{{ athlete.club }}</a>
        {% endif %}
      </td>
      <td><a href="{{ athlete.stream.get_absolute_url }}">{{ athlete.stream }}</a></td>
      <td>
        {% if athlete.team %}
          <a href="{% url 'teams.detail' athlete.team.id %}">{{ athlete.team }}</a>
        {% endif %}
      </td>
      <td>
        {% if athlete.squad %}
          <a href="{{ athlete.squad.get_absolute_url }}">{{ athlete.squad }}</a>
        {% endif %}
      </td>
      <td class="text-right">
        <div class="btn-group" role="group">
          <a type="button" class="btn btn-xs btn-success" href="{{ athlete.get_absolute_url }}">
            <span class="glyphicon glyphicon-search"></span> {% trans "detail" %}
          </a>
          <a type="button" class="btn btn-xs btn-warning" href="{{ athlete.get_edit_url }}">
            <span class="glyphicon glyphicon-edit"></span> {% trans "edit" %}
          </a>
          <a  type="button" 
              class="btn btn-xs btn-danger btn-confirm-delete" 
              href="{{ athlete.get_delete_url }}"
              data-title="Confirm Delete" 
              data-text="{% trans 'Do you really want to delete' %} <strong>{{ athlete }}</strong>?" 
              data-confirm-button="Delete" 
              data-confirm-button-class="btn-danger" 
              data-id="{{ athlete.id }}">
            <span class="glyphicon glyphicon-remove"></span> {% trans "delete" %}
          </a>
        </div>
      </td>
    </tr>
  {% endfor %}
</tbody>