{% load bootstrap3 %}
{% load i18n %}

{% bootstrap_form_errors form type='non_fields' %}

<div class="col-md-6 col-md-offset-2">
  {% bootstrap_form form layout='horizontal' %}

  {% buttons layout='horizontal' %}
    <div class="btn-group">
      <button type="submit" class="btn btn-primary">
        {% if mode == 'new' %}
          {% trans "Create" %}
        {% else %}
          {% trans "Update" %}
        {% endif %}
      </button>
      <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">
        {% trans "Cancel" %}
      </button>
    </div>
  {% endbuttons %}
</div>