{% extends "gymnastics/streams/base.html" %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=stream active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>
        {{ stream }}
        <small>
        {{ athletes.count }} Athletes
        </small>
      </h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-warning" href="{% url 'streams.edit' stream.id %}">Edit</a>
        <a type="button" class="btn btn-danger" href="{% url 'streams.delete' stream.id %}">Delete</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">Previous Page</button>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
      <li role="presentation"><a href="#athletes" aria-controls="messages" role="tab" data-toggle="tab">Athletes</a></li>
      {% if stream.all_around_individual %}
        <li role="presentation"><a href="#athletes_results" aria-controls="profile" role="tab" data-toggle="tab">Results Athlete</a></li>
      {% endif %}
      {% if stream.all_around_team %}
        <li role="presentation"><a href="#teams" aria-controls="profile" role="tab" data-toggle="tab">Teams</a></li>
        <li role="presentation"><a href="#results_team" aria-controls="profile" role="tab" data-toggle="tab">Results Teams</a></li>
      {% endif %}
      {% if stream.discipline_finals %}
        <li role="presentation"><a href="#athletes_final" aria-controls="profile" role="tab" data-toggle="tab">Athletes Final</a></li>
        <li role="presentation"><a href="#results_final" aria-controls="profile" role="tab" data-toggle="tab">Results Finals</a></li>
      {% endif %}
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="general">
        <p>Difficulty: {{ stream.difficulty }}</p>
        <p>Sex: {{ stream.get_sex_display }}</p>
        <p>Minimum Year of birth: {{ stream.minimum_year_of_birth }}</p>
        <p>Disciplines:
        <ul>
          {% for discipline in stream.discipline_set.all %}
            <li><a href="{% url 'disciplines.detail' discipline.id %}">{{ discipline }}</a></li>
          {% endfor %}
        </ul>
        </p>
        <p>Performances are compared in:
        <ul>
          {% if stream.all_around_individual %}
            <li>all around individual: {{ stream.all_around_individual_counting_events }} counting disciplines</li>
          {% endif %}
          {% if stream.all_around_team %}
            <li>team performances: {{ stream.all_around_team_counting_athletes }} counting events per discipline</li>
          {% endif %}
          {% if stream.discipline_finals %}
            <li>discipline finals: {{ stream.discipline_finals_max_participants }} participants and 
            {% if stream.discipline_finals_both_values_count %}
              both values counting
            {% else %}
              only final values counting
            {% endif %}</li>
          {% endif %}
        </ul></p>
      </div>

      {% if stream.all_around_individual %}
        <div role="tabpanel" class="tab-pane" id="athletes">
          <table class="table table-hover table-condensed" id="athletes-table">
            {% include "base/athletes_list.html" with athletes_set=athletes only %}
          </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="athletes_results">
          <table class="table table-hover table-condensed" id="stream-table">
            <thead>
              <th>Athlete</th>
                {% for discipline in disciplines %}
                  <th>{{ discipline }}</th>
                {% endfor %}
              <th>All Around Total</th>
              <th>All Around Rank</th>
            </thead>
            <tbody>
                {% for athlete in athletes %}
                  <tr id="athlete_{{ athlete.id }}">
                    <td><a href="{% url 'athletes.detail' athlete.id %}">{{ athlete }}</a></td>
                        {% for discipline in disciplines %}
                          <td>
                            {{ athlete.performances_dict|get_item:discipline.id }}
                          </td>
                        {% endfor %}
                    <td>{{ athlete.all_around_total|default:"" }}</td>
                    <td>{{ athletes_all_around_rank_dict|get_item:athlete.id|default:"" }}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}


      {% if stream.all_around_team %}
        <div role="tabpanel" class="tab-pane" id="teams">
          <table class="table table-hover table-condensed" id="team-table">
            {% include "base/teams_list.html" with teams_set=teams only %}
          </table>
        </div>


        <div role="tabpanel" class="tab-pane" id="results_team">
          <table class="table table-hover table-condensed" id="stream-table">
            <thead>
              <th>Team</th>
                {% for discipline in disciplines %}
                  <th>{{ discipline }}</th>
                {% endfor %}
              <th>Team Total</th>
              <th>Team Rank</th>
            </thead>
            <tbody>
              {% for team in teams %}
                <tr id="team{{ team.id }}">
                  <td><a href="{% url 'teams.detail' team.id %}">{{ team.name }}</a></td>
                    {% with team_performances=team.discipline_performance %}
                      {% for discipline in disciplines %}
                        <td>{{ team_performances|get_item:discipline|default:"" }}</td>
                      {% endfor %}
                    {% endwith %}
                  <td>{{ team.performance_total|default:"" }}</td>
                  <td>{{ teams_all_around_rank_dict|get_item:team.id|default:"" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if stream.discipline_finals %}
        {% with final_participants=stream.final_participants %}
          <div role="tabpanel" class="tab-pane" id="athletes_final">
            <table class="table table-condensed" id="final-disciplines-table">
              {% for discipline in disciplines %}
                {% with participants=final_participants|get_item:discipline %}
                  <thead>
                    <th>{{ discipline }}</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <table class="table table-hover table-condensed" id="{{ discipline }}-athletes-final-table">
                          {% include "base/athletes_list.html" with athletes_set=participants only %}
                        </table>
                      </td>
                    </tr>
                  </tbody>
                {% endwith %}
              {% endfor %}
            </table>
          </div>

        <div role="tabpanel" class="tab-pane" id="results_final">
          <table class="table table-condensed" id="final-disciplines-table">
            {% with discipline_ranks=stream.final_rank %}
              {% for discipline in disciplines %}
                {% with participants=final_participants|get_item:discipline ranks=discipline_ranks|get_item:discipline %}
                  <thead>
                    <th>{{ discipline }}</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <table class="table table-hover table-condensed" id="final-{{ discipline }}-table">
                          <thead>
                            <th>Athlete</th>
                            {% if stream.discipline_finals_both_values_count %}
                              <th>Performance</th>
                            {% endif %}
                            <th>Final Performance</th>
                            {% if stream.discipline_finals_both_values_count %}
                              <th>Total</th>
                            {% endif %}
                            <th>Rank</th>
                          </thead>
                          <tbody>
                            {% for athlete in participants %}
                              <tr>
                                <td><a href="{% url 'athletes.detail' athlete.id %}">{{ athlete }}</a></td>
                                {% if stream.discipline_finals_both_values_count %}
                                  <td>{{ athlete.performances|get_item:discipline|default:"" }}</td>
                                {% endif %}
                                <td>{{ athlete.performances_final|get_item:discipline|default:"" }}</td>
                                {% if stream.discipline_finals_both_values_count %}
                                  <td>{{ athlete|get_final_total:discipline|default:"" }}</td>
                                {% endif %}
                                <td>{{ ranks|get_item:athlete|default:"" }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                {% endwith %}
              {% endfor %}
            {% endwith %}
          </table>             
        {% endwith %}
      {% endif %}
    </div>
  </div> 
  
{% endblock content %}