{% extends "gymnastics/streams/base.html" %}

{% load i18n %}
{% load custom_template_tags %}

{% block headline %}
  {{ stream }} <small>{{ athletes_count }} {% trans "Athletes" %}</small>
{% endblock headline %}
{% block nav_main %}{{ stream }}{% endblock nav_main %}
{% block nav_main_url %}{{ stream.get_absolute_url }}{% endblock nav_main_url %}
{% block nav_links %}
  <li role="presentation" class="active">
    <a href="#general" aria-controls="general" role="tab" data-toggle="tab">
      {% trans "General" %}
    </a>
  </li>
  <li role="presentation">
    <a href="#athletes" aria-controls="athletes" role="tab" data-toggle="tab">
      <span class="nav-link-label">{% trans "Athletes" %}</span>
      <span class="nav-link-value">{{ athletes_count }}</span>
    </a>
  </li>
  {% if stream.all_around_individual %}
    <li role="presentation">
      <a href="#results-athletes" aria-controls="results-athletes" role="tab" data-toggle="tab">
        <span class="nav-link-label">{% trans "Results Athletes" %}</span>
        <span class="nav-link-value">{{ athlete_performances_completed }}</span>
      </a>
    </li>
  {% endif %}
  {% if stream.all_around_team %}
    <li role="presentation">
      <a href="#results-teams" aria-controls="results-teams" role="tab" data-toggle="tab">
        <span class="nav-link-label">{% trans "Results Teams" %}</span>
        <span class="nav-link-value">{{ team_performances_completed }}</span>
      </a>
    </li>
  {% endif %}
  {% if stream.discipline_finals %}
    <li role="presentation">
      <a href="#athletes-finals" aria-controls="athletes-finals" role="tab" data-toggle="tab">
        <span class="nav-link-label">{% trans "Athletes Finals" %}</span>
        <span class="nav-link-value"></span>
      </a>
    </li>
    <li role="presentation">
      <a href="#results-finals" aria-controls="results-finals" role="tab" data-toggle="tab">
        <span class="nav-link-label">{% trans "Results Finals" %}</span>
        <span class="nav-link-value"></span>
      </a>
    </li>
  {% endif %}
{% endblock nav_links %}
{% block nav_regular_buttons %}
  <form class="navbar-form" role="search">
    <input type="search" class="light-table-filter form-control" data-table="tablefilter" name="table_filter">
  </form>
  <a type="button" class="btn btn-warning navbar-btn" href="{{ stream.get_edit_url }}">{% trans "Edit" %}</a>
  <a  type="button" 
      class="btn btn-danger navbar-btn" 
      href="{{ stream.get_delete_url }}">
    {% trans "Delete" %}
  </a>
{% endblock nav_regular_buttons %}

{% block content %}
  <div class="panel panel-default" role="tabpanel">

    <!-- Tab panes -->
    <div class="panel-body tab-content">
      <div role="tabpanel" class="tab-pane active" id="general">
        <dl class="dl-horizontal dl-detail">
          <dt>{% trans "Difficulty" %}</dt>
          <dd>{{ stream.difficulty }}</dd>

          <dt>{% trans "Sex" %}</dt>
          <dd class="gend">
            {% if stream.sex == 'f' %}
              <span class="gend-female"><i class="fa fa-venus fa-fw" alt="{% trans 'female' %}"></i></span>
            {% else %}
              <span class="gend-male"><i class="fa fa-mars fa-fw" alt="{% trans 'male' %}"></i></span>
            {% endif %}
          </dd>

          <dt>{% trans "Minimum Year of Birth" %}</dt>
          <dd>{{ stream.minimum_year_of_birth }}</dd>

          <dt>{% trans "Disciplines" %}</dt>
          <dd>
            <ul class="list-inline">
              {% for discipline in disciplines %}
                <li><a href="{% url 'disciplines.detail' discipline.id %}">{{ discipline }}</a></li>
              {% endfor %}
            </ul>
          </dd>

          {% if stream.all_around_individual %}
            <dt>{% trans "All around individual" %}</dt>
            <dd>
              {{ stream.all_around_individual_counting_events }} {% trans "counting disciplines" %}
            </dd>
          {% endif %}

          {% if stream.all_around_team %}
            <dt>{% trans "Team performances" %}</dt>
            <dd>
              <ul class="list-unstyled">
                <li>
                  {{ stream.all_around_team_counting_athletes }} {% trans "counting events per discipline" %}
                </li>
              </ul>
            </dd>
          {% endif %}

          {% if stream.discipline_finals %}
            <dt>{% trans "Discipline finals" %}</dt>
            <dd>
              <ul class="list-unstyled">
                <li>
                  {{ stream.discipline_finals_max_participants }} {% trans "participants and" %} 
                  {% if stream.discipline_finals_both_values_count %}
                    {% trans "both values counting" %}
                  {% else %}
                    {% trans "only final values counting" %}
                  {% endif %}
                </li>
              </ul>
            </dd>
          {% endif %}

        </dl>
      </div>

      <div role="tabpanel" class="tab-pane" id="athletes">
        <table id="athletes-table" class="table table-hover table-condensed tablefilter">
          {% include "gymnastics/includes/athletes_list.html" with athletes_set=athletes only %}
        </table>
      </div>

      {% if stream.all_around_individual %}
        <div role="tabpanel" class="tab-pane" id="results-athletes">
          <table id="table-results-athletes" class="table table-hover table-condensed tablesorter tablefilter">
            <thead>
              <th>{% trans "Athlete" %}</th>
              <th>{% trans "Club" %}</th>
              {% for discipline in disciplines %}
                <th class="text-right">{{ discipline }}</th>
                <th class="text-center">{% trans "Rank" %}</th>
              {% endfor %}
              <th class="text-right">{% trans "All Around" %}</th>
              <th class="text-center">{% trans "Rank" %}</th>
            </thead>
            <tbody>
              {% for athlete in athletes %}
                <tr id="athlete_{{ athlete.id }}">
                  {% with athlete_performances=athletes_disciplines_result_dict|get_item:athlete.id athlete_ranks=athletes_disciplines_rank_dict|get_item:athlete.id %}
                    <td><a href="{{ athlete.get_absolute_url }}" data-name="{{ athlete }}">{{ athlete }}</a></td>
                    <td><a href="{{ athlete.club.get_absolute_url }}" data-name="{{ club }}">{{ athlete.club }}</a></td>
                    {% for discipline in disciplines %}
                      <td class="text-right">
                        {{ athlete_performances|get_item:discipline.id }}
                      </td>
                      <td class="text-center">
                        {% if athlete_performances|get_item:discipline.id %}
                          {{ athlete_ranks|get_item:discipline.id }}
                        {% endif %}
                      </td>
                    {% endfor %}
                    <td class="text-right">{{ athlete_performances|get_item:'total'|default:'' }}</td>
                    <td class="text-center">
                      {% if athlete_performances|get_item:'total' %}
                        {{ athlete_ranks|get_item:'total' }}
                      {% endif %}
                    </td>
                  {% endwith %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if stream.all_around_team %}
        <div role="tabpanel" class="tab-pane" id="results-teams">
          <table id="table-results-teams" class="table table-hover table-condensed tablesorter tablefilter">
            <thead>
              <th>{% trans "Team" %}</th>
              <th>{% trans "Verein" %}</th>
              {% for discipline in disciplines %}
                <th class="text-right">{{ discipline }}</th>
                <th class="text-center">{% trans "Rank" %}</th>
              {% endfor %}
              <th class="text-right">{% trans "Team Total" %}</th>
              <th class="text-center">{% trans "Team Rank" %}</th>
            </thead>
            <tbody>
              {% for team in teams %}
                <tr id="team_{{ team.id }}">
                  {% with team_performances=teams_disciplines_result_dict|get_item:team.id team_ranks=teams_disciplines_rank_dict|get_item:team.id %}
                    <td><a href="{% url 'teams.detail' team.id %}">{{ team.name }}</a></td>
                    <td>
                      {% if team.club %}
                        <a href="{{ team.club.get_absolute_url }}">{{ team.club }}</a>
                      {% endif %}
                    </td>
                    {% for discipline in disciplines %}
                      <td class="text-right">{{ team_performances|get_item:discipline.id }}</td>
                      <td class="text-center">
                        {% if team_performances|get_item:discipline.id %}
                          {{ team_ranks|get_item:discipline.id }}
                        {% endif %}
                      </td>
                    {% endfor %}
                    <td class="text-right">{{ team_performances|get_item:'total'|default:'' }}</td>
                    <td class="text-center">
                      {% if team_performances|get_item:'total' %}
                        {{ team_ranks|get_item:'total' }}
                      {% endif %}
                    </td>
                  {% endwith %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% comment %}

      {% if stream.discipline_finals %}
        {% with final_participants=stream.final_participants %}

          <div role="tabpanel" class="tab-pane" id="athletes-finals">
            <table class="table table-condensed" id="final-disciplines-table">
              {% for discipline in disciplines %}
                {% with participants=final_participants|get_item:discipline %}
                  <thead>
                    <th>{{ discipline }}</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <table class="table table-hover table-condensed" id="{{ discipline }}-athletes-final-table">
                          {% include "gymnastics/includes/athletes_list.html" with athletes_set=participants only %}
                        </table>
                      </td>
                    </tr>
                  </tbody>
                {% endwith %}
              {% endfor %}
            </table>
          </div>

          <div role="tabpanel" class="tab-pane" id="results-finals">
            <table class="table table-condensed" id="final-disciplines-table">
              {% with discipline_ranks=stream.final_rank %}
                {% for discipline in disciplines %}
                  {% with participants=final_participants|get_item:discipline ranks=discipline_ranks|get_item:discipline %}
                    <thead>
                      <th>{{ discipline }}</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <table class="table table-hover table-condensed" id="final-{{ discipline }}-table">
                            <thead>
                              <th>Athlete</th>
                              {% if stream.discipline_finals_both_values_count %}
                                <th>Performance</th>
                              {% endif %}
                              <th>Final Performance</th>
                              {% if stream.discipline_finals_both_values_count %}
                                <th>Total</th>
                              {% endif %}
                              <th>Rank</th>
                            </thead>
                            <tbody>
                              {% for athlete in participants %}
                                <tr>
                                  <td><a href="{{ athlete.get_absolute_url }}">{{ athlete }}</a></td>
                                  {% if stream.discipline_finals_both_values_count %}
                                    <td>{{ athlete.performances|get_item:discipline|default:"" }}</td>
                                  {% endif %}
                                  <td>{{ athlete.performances_final|get_item:discipline|default:"" }}</td>
                                  {% if stream.discipline_finals_both_values_count %}
                                    <td>{{ athlete|get_final_total:discipline|default:"" }}</td>
                                  {% endif %}
                                  <td>{{ ranks|get_item:athlete|default:"" }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  {% endwith %}
                {% endfor %}
              {% endwith %}
            </table>
          </div>
        {% endwith %}
      {% endif %}

      {% endcomment %}

    </div> <!-- end tab-content -->
  </div>  <!-- end tab panel -->
  
{% endblock content %}