{% extends "gymnastics/streams/base.html" %}
{% load i18n %}

{% load custom_template_tags %}

{% block nav_level_2 %}
  {% render_nav_item name=stream active=True %}
{% endblock nav_level_2 %}

{% block content %}

  <div class="row row-relative">
    <div class="col-md-8">
      <h1>
        {{ stream }} <small> {{ athletes_count }} {% trans "Athletes" %}</small>
      </h1>
    </div>
    <div class="col-md-4 div-pos-bottom-right text-right">
      <div class="btn-group">
        <a type="button" class="btn btn-warning" href="{% url 'streams.edit' stream.id %}">{% trans "Edit" %}</a>
        <a type="button" class="btn btn-danger" href="{% url 'streams.delete' stream.id %}">{% trans "Delete" %}</a>
        <button type="button" class="btn btn-default" onClick="javascript:history.go(-1);">{% trans "Previous Page" %}</button>
      </div>
    </div>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">{% trans "General" %}</a></li>
      <li role="presentation"><a href="#athletes" aria-controls="messages" role="tab" data-toggle="tab">{% trans "Athletes" %}</a></li>
      {% if stream.all_around_individual %}
        <li role="presentation"><a href="#results_athletes" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Results Athletes" %}</a></li>
      {% endif %}
      {% if stream.all_around_team %}
        <li role="presentation"><a href="#teams" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Teams" %}</a></li>
        <li role="presentation"><a href="#results_team" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Results Teams" %}</a></li>
      {% endif %}
      {% if stream.discipline_finals %}
        <li role="presentation"><a href="#athletes_final" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Athletes Finals" %}</a></li>
        <li role="presentation"><a href="#results_final" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Results Finals" %}</a></li>
      {% endif %}
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="general">
        <p>{% trans "Difficulty" %}: {{ stream.difficulty }}</p>
        <p>{% trans "Sex" %}: {{ stream.get_sex_display }}</p>
        <p>{% trans "Minimum Year of Birth" %}: {{ stream.minimum_year_of_birth }}</p>
        <p>{% trans "Disciplines" %}:
        <ul>
          {% for discipline in stream.discipline_set.all %}
            <li><a href="{% url 'disciplines.detail' discipline.id %}">{{ discipline }}</a></li>
          {% endfor %}
        </ul>
        </p>
        <p>{% trans "Performances are compared in" %}:
        <ul>
          {% if stream.all_around_individual %}
            <li>{% trans "all around individual" %}: {{ stream.all_around_individual_counting_events }} {% trans "counting disciplines" %}</li>
          {% endif %}
          {% if stream.all_around_team %}
            <li>{% trans "team performances" %}: {{ stream.all_around_team_counting_athletes }} {% trans "counting events per discipline" %}</li>
          {% endif %}
          {% if stream.discipline_finals %}
            <li>{% trans "discipline finals" %}: {{ stream.discipline_finals_max_participants }} {% trans "participants and" %} 
            {% if stream.discipline_finals_both_values_count %}
              {% trans "both values counting" %}
            {% else %}
              {% trans "only final values counting" %}
            {% endif %}</li>
          {% endif %}
        </ul></p>
      </div>

      <div role="tabpanel" class="tab-pane" id="athletes">
        <table class="table table-hover table-condensed athletes-table" id="athletes-table">
          {% include "base/athletes_list.html" with athletes_set=athletes only %}
        </table>
      </div>

      {% if stream.all_around_individual %}
        <div role="tabpanel" class="tab-pane" id="results_athletes">
          <table class="table table-hover table-condensed" id="stream-table" data-toggle="table">
            <thead>
              <th data-sortable="true" data-sorter="regularStringSorter">{% trans "Athlete" %}</th>
                {% for discipline in disciplines %}
                  <th class="text-right" data-sortable="true" data-sorter="regularSorter">{{ discipline }}</th>
                  <th class="text-center" data-sortable="true" data-sorter="reversedSorter">{% trans "Rank" %}</th>
                {% endfor %}
              <th class="text-right" data-sortable="true" data-sorter="regularSorter">{% trans "All Around" %}</th>
              <th class="text-center" data-sortable="true" data-sorter="reversedSorter">{% trans "Rank" %}</th>
            </thead>
            <tbody>
                {% for athlete in athletes %}
                  <tr id="athlete_{{ athlete.id }}">
                    {% with athlete_performances=athletes_disciplines_result_dict|get_item:athlete.id athlete_ranks=athletes_disciplines_rank_dict|get_item:athlete.id %}
                      <td><a data-name="{{ athlete }}" href="{% url 'athletes.detail' athlete.id %}">{{ athlete }}</a></td>
                          {% for discipline in disciplines %}
                            <td class="text-right">
                              {{ athlete_performances|get_item:discipline.id }}
                            </td>
                            <td class="text-center">
                              {% if athlete_performances|get_item:discipline.id %}
                                {{ athlete_ranks|get_item:discipline.id }}
                              {% endif %}
                            </td>
                          {% endfor %}
                      <td class="text-right">{{ athlete.performances_total|default:'' }}</td>
                      <td class="text-center">
                        {% if athlete.performances_total %}
                          {{ athlete_ranks|get_item:'total' }}
                        {% endif %}
                      </td>
                    {% endwith %}
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}


      {% if stream.all_around_team %}
        <div role="tabpanel" class="tab-pane" id="teams">
          <table class="table table-hover table-condensed" id="team-table">
            {% include "base/teams_list.html" with teams_set=teams only %}
          </table>
        </div>


        <div role="tabpanel" class="tab-pane" id="results_team">
          <table class="table table-hover table-condensed" id="stream-table">
            <thead>
              <th>{% trans "Team" %}</th>
                {% for discipline in disciplines %}
                  <th class="text-right">{{ discipline }}</th>
                  <th class="text-center">{% trans "Rank" %}</th>
                {% endfor %}
              <th class="text-right">{% trans "Team Total" %}</th>
              <th class="text-center">{% trans "Team Rank" %}</th>
            </thead>
            <tbody>
              {% for team in teams %}
                <tr id="team_{{ team.id }}">
                  {% with team_performances=teams_disciplines_result_dict|get_item:team.id team_ranks=teams_disciplines_rank_dict|get_item:team.id %}
                    <td><a href="{% url 'teams.detail' team.id %}">{{ team.name }}</a></td>
                      {% for discipline in disciplines %}
                        <td class="text-right">
                          {{ team_performances|get_item:discipline.id }}
                        </td>
                        <td class="text-center">
                          {% if team_performances|get_item:discipline.id %}
                            {{ team_ranks|get_item:discipline.id }}
                          {% endif %}
                        </td>
                      {% endfor %}
                      <td class="text-right">{{ team.performances_total|default:'' }}</td>
                      <td class="text-center">
                        {% if team.performances_total %}
                          {{ team_ranks|get_item:'total' }}
                        {% endif %}
                      </td>
                  {% endwith %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if stream.discipline_finals %}
        {% with final_participants=stream.final_participants %}

          {% comment %}
          <div role="tabpanel" class="tab-pane" id="athletes_final">
            <table class="table table-condensed" id="final-disciplines-table">
              {% for discipline in disciplines %}
                {% with participants=final_participants|get_item:discipline %}
                  <thead>
                    <th>{{ discipline }}</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <table class="table table-hover table-condensed" id="{{ discipline }}-athletes-final-table">
                          {% include "base/athletes_list.html" with athletes_set=participants only %}
                        </table>
                      </td>
                    </tr>
                  </tbody>
                {% endwith %}
              {% endfor %}
            </table>
          </div>
          {% endcomment %}

          {% comment %}
          <div role="tabpanel" class="tab-pane" id="results_final">
            <table class="table table-condensed" id="final-disciplines-table">
              {% with discipline_ranks=stream.final_rank %}
                {% for discipline in disciplines %}
                  {% with participants=final_participants|get_item:discipline ranks=discipline_ranks|get_item:discipline %}
                    <thead>
                      <th>{{ discipline }}</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <table class="table table-hover table-condensed" id="final-{{ discipline }}-table">
                            <thead>
                              <th>Athlete</th>
                              {% if stream.discipline_finals_both_values_count %}
                                <th>Performance</th>
                              {% endif %}
                              <th>Final Performance</th>
                              {% if stream.discipline_finals_both_values_count %}
                                <th>Total</th>
                              {% endif %}
                              <th>Rank</th>
                            </thead>
                            <tbody>
                              {% for athlete in participants %}
                                <tr>
                                  <td><a href="{% url 'athletes.detail' athlete.id %}">{{ athlete }}</a></td>
                                  {% if stream.discipline_finals_both_values_count %}
                                    <td>{{ athlete.performances|get_item:discipline|default:"" }}</td>
                                  {% endif %}
                                  <td>{{ athlete.performances_final|get_item:discipline|default:"" }}</td>
                                  {% if stream.discipline_finals_both_values_count %}
                                    <td>{{ athlete|get_final_total:discipline|default:"" }}</td>
                                  {% endif %}
                                  <td>{{ ranks|get_item:athlete|default:"" }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  {% endwith %}
                {% endfor %}
              {% endwith %}
            </table>
          </div>
          {% endcomment %}
        {% endwith %}
      {% endif %}

    </div> <!-- end tab-content -->
  </div> 
  
{% endblock content %}