{% extends "gymnastics/streams/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% load custom_template_tags %}
                  
{% block nav_level_2 %}
  {% render_nav_item name='new' active=True %}
{% endblock nav_level_2 %}


{% block content %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Difficulty' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="text" name="difficulty" required="required" value="{{ stream.difficulty }}">
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Sex' %}</label>
    <div class="col-md-4">
      <select class="form-control" name="sex">
        <option value="m" {% ifequal stream.sex 'm' %} selected="selected" {% endifequal %}>{% trans 'male' %}</option>
        <option value="f" {% ifequal stream.sex 'f' %} selected="selected" {% endifequal %}>{% trans 'female' %}</option>
      </select>
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Minimum Year of Birth' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="minimum_year_of_birth" value="{{ stream.minimum_year_of_birth }}" required="required">
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around individual' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="all_around_individual" {% if stream.all_around_individual %}checked="checked" {% endif %}>
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around individual counting events' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="all_around_individual_counting_events" value="{{ stream.all_around_individual_counting_events }}">
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around team' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="all_around_team" {% if stream.all_around_team %}checked="checked" {% endif %}>
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around team counting athletes' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="all_around_team_counting_athletes" value="{{ stream.all_around_team_counting_athletes }}">
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Discipline finals' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="discipline_finals" {% if stream.discipline_finals %}checked="checked" {% endif %}>
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Discipline finals max participants' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="discipline_finals_max_participants" value="{{ stream.discipline_finals_max_participants }}">
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Discipline finals both values count' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="discipline_finals_both_values_count" {% if stream.discipline_finals_both_values_count %}checked="checked" {% endif %}>
    </div>
  </div>

  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Disciplines' %}</label>
    <div class="col-md-4 text-left">
      <ul id="chosen-list" class="list-inline">
        {% for discipline in stream_disciplines %}
          <li data-itemidx="{{ discipline.id }}" class="label label-default">
            <h5><div name="discipline_{{ discipline.id }}" style="cursor: pointer;">{{ discipline }}</div></h5>
          </li>
        {% endfor %}
      </ul>
      <input name="chosen_list_order" value="{% for discipline in stream_disciplines %}{{ discipline.id }} {% endfor %}" hidden="hidden">
    </div>
  </div>

  <div class="col-md-5 col-md-offset-4 btn-group">
    <input class="btn btn-primary" type="submit" value="{% trans "Update" %}"/>
    <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">{% trans "Cancel" %}</button>
  </div>
</form>

{% endblock content %}