{% extends "gymnastics/base.html" %}

{% block content %}
  <div>
    <div>Create new stream <a href="{% url 'streams.new' %}">here</a></div>

    {% if streams %}

      <br/>

      <table class="table" id="stream-table">
        <thead>
          <th>Difficulty</th>
          <th>Sex</th>
          <th>Disciplines</th>
          <th>Minimum year of birth</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          {% for stream in streams %}
            <tr id="stream_{{ stream.id }}">
              <td>{{ stream.difficulty }}</td>
              <td>{{ stream.sexLong }}</td>
              <td>{% for discipline in stream.disciplines.all %} {{ discipline }}<br/>{% endfor %}</td>
              <td>{{ stream.minimum_year_of_birth }}</td>
              <td><a href="{% url 'streams.detail' stream.id %}">details</a></td>
              <td><a href="{% url 'streams.edit' stream.id %}">edit</a></td>
              <td><a href="{% url 'streams.delete' stream.id %}">delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class="alert alert-info">No stream available in the database.</div>

    {% endif %}
  </div>
{% endblock content %}