{% extends "gymnastics/streams/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% load custom_template_tags %}
                  
{% block nav_level_2 %}
  {% render_nav_item name='new' active=True %}
{% endblock nav_level_2 %}


{% block content %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Difficulty' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="text" name="difficulty" required="required">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Sex' %}</label>
    <div class="col-md-4">
      <select class="form-control" name="sex">
        <option value="m">{% trans 'male' %}</option>
        <option value="f" selected="selected">{% trans 'female' %}</option>
      </select>
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Minimum Year of Birth' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="minimum-year-of-birth" value="2000">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around individual' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="all-around-individual" checked="checked">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around individual counting events' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="all-around-individual-counting-events" value="4">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around team' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="all-around-team" checked="checked">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'All around team counting athletes' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="all-around-team-counting-athletes" value="3">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Discipline finals' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="discipline-finals">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Discipline finals max participants' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="number" name="discipline-finals-max-participants">
    </div>
  </div>
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Discipline finals both values count' %}</label>
    <div class="col-md-4">
      <input class="form-control" type="checkbox" name="discipline-finals-both-values-count">
    </div>
  </div>
  <div class="form-group row {% if form.errors|get_item:field.name %} has-error{% endif %}">
    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{% trans 'Disciplines' %}</label>
    <div class="col-md-4">
      <table class="table table-bordered">
        <thead>
          <th class="col-md-2 text-center">{% trans "Chosen" %}</th>
          <th class="col-md-2 text-center">{% trans "Available" %}</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul id="chosen-list"></ul>
            </td>
            <td>
              <ul id="available-list">
                {% for discipline in disciplines %}
                  <li data-itemidx="{{ discipline.id }}"><div style="cursor: pointer;">{{ discipline }}</div></li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <input name="chosenListOrder" type="hidden">
    </div>
  </div>
  <script type="text/javascript">
    $("#chosen-list, #available-list").dragsort({ dragSelector: "div", dragBetween: true, dragEnd: saveOrder, placeHolderTemplate: "<li class='placeHolder'><div></div></li>" });

    function saveOrder() {
      var data = $("#available-list li").map(function() { return $(this).children().html(); }).get();
      $("input[name=chosenListOrder]").val(data.join("|"));
    };
  </script>



  <div class="col-md-5 col-md-offset-4 btn-group">
    <input class="btn btn-primary" type="submit" value="{% if mode == 'new' %}{% trans "Create" %}{% else %}{% trans "Update" %}{% endif %}"/>
    <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">{% trans "Cancel" %}</button>
  </div>
</form>

{% endblock content %}