{% extends "gymnastics/streams/base.html" %}

{% load custom_template_tags %}
                  
{% block nav_level_2 %}
  {% render_nav_item name='new' active=True %}
{% endblock nav_level_2 %}

{% block content %}
  <div class="row">

  <form action="" method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Create stream"/>
    <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">Cancel</button>
  </form>

  </div>
{% endblock content %}
