{% extends "gymnastics/athletes/base.html" %}

{% load i18n %}
{% load custom_template_tags %}

{% block nav_main %}{{ athlete }} ({{ athlete.club }}){% endblock nav_main %}
{% block nav_main_url %}{{ athlete.get_absolute_url }}{% endblock nav_main_url %}
{% block nav_links %}
  <li role="presentation" class="active">
    <a href="#base" aria-controls="base" role="tab" data-toggle="tab">{% trans "General" %}</a>
  </li>
  <li role="presentation">
    <a href="#performances" aria-controls="performances" role="tab" data-toggle="tab">{% trans "Results" %}</a>
  </li>
{% endblock nav_links %}
{% block nav_regular_buttons %}
  <a type="button" class="btn btn-warning navbar-btn" href="{{ athlete.get_edit_url }}">{% trans "Edit" %}</a>
  <a  type="button" 
      class="btn btn-danger navbar-btn" 
      href="{{ athlete.get_delete_url }}" >
    {% trans "Delete" %}
  </a>
{% endblock nav_regular_buttons %}

{% block content %}
<div class="panel panel-default" role="tabpanel">
  <div class="panel-body tab-content">

    <div role="tabpanel" class="tab-pane active" id="base">
      <dl class="dl-horizontal dl-detail">
        <dt>{% trans "First Name" %}</dt>
        <dd>{{ athlete.first_name }}</dd>

        <dt>{% trans "Last name" %}</dt>
        <dd>{{ athlete.last_name }}</dd>

        <dt>{% trans "Sex" %}</dt>
        <dd class="gend">
          {% if athlete.sex == 'f' %}
            <span class="gend-female"><i class="fa fa-venus fa-fw" alt="{% trans 'female' %}"></i></span>
          {% else %}
            <span class="gend-male"><i class="fa fa-mars fa-fw" alt="{% trans 'male' %}"></i></span>
          {% endif %}
        </dd>

        <dt>{% trans "Date of Birth" %}</dt>
        <dd>{{ athlete.date_of_birth }}</dd>

        <dt>{% trans "Stream" %}</dt>
        <dd>
          {% if athlete.stream %}
            <a href="{{ athlete.stream.get_absolute_url }}">{{ athlete.stream }}</a>
          {% endif %}
        </dd>

        <dt>{% trans "Club" %}</dt>
        <dd>
          {% if athlete.club %}
            <a href="{{ athlete.club.get_absolute_url }}">{{ athlete.club }}</a>
          {% endif %}
        </dd>

        <dt>{% trans "Team" %}</dt>
        <dd>
          {% if athlete.team %}
            <a href="{{ athlete.team.get_absolute_url }}">{{ athlete.team.name }}</a>
          {% endif %}
        </dd>

        <dt>{% trans "Squad" %}</dt>
        <dd>
          {% if athlete.squad %}
            <a href="{{ athlete.squad.get_absolute_url }}">{{ athlete.squad }}</a>
          {% endif %}
        </dd>
      </dl>
    </div>

    <div role="tabpanel" class="tab-pane" id="performances">
      <table class="table table-hover table-condensed" id="stream-table">
        <thead>
          <th>Discipline</th>
          <th>Value</th>
          <th>Rank</th>
          {% if athlete.stream.discipline_finals %}
            <th>Final Value</th>
            <th>Final Rank</th>
          {% endif %}
        </thead>
        <tbody>
          {% for discipline in disciplines %}
            <tr id="discipline_{{ discipline.id }}">
              <td><a href="{{ discipline.get_absolute_url }}">{{ discipline }}</a></td>
              <td>{{ athlete_disciplines_result_dict|get_item:discipline.id|default:'' }}</td>
              <td>
                {% if athlete_disciplines_result_dict|get_item:discipline.id %}
                  {{ athlete_disciplines_rank_dict|get_item:discipline.id }}
                {% endif %}
              </td>
              {% if athlete.stream.discipline_finals %}
                <td></td>
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
          {% if athlete.stream.all_around_individual %}
            <tr id="all_around_total">
              <td>Total</td>
              <td>{{ athlete_disciplines_result_dict|get_item:'total'|default:'' }}</td>
              <td>
                {% if athlete_disciplines_result_dict|get_item:'total' %}
                  {{ athlete_disciplines_rank_dict|get_item:'total' }}
                {% endif %}
              </td>
              {% if athlete.stream.discipline_finals %}
                <td></td>
                <td></td>
              {% endif %}
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    
  </div>
</div>
{% endblock content %}