{% extends "gymnastics/athletes/base.html" %}

{% load i18n %}

{% block nav_main %}{% trans "Edit" %} {{ athlete }}{% endblock nav_main %}
{% block nav_main_url %}{{ athlete.get_absolute_url }}{% endblock nav_main_url %}
{% block nav_links %}{% endblock nav_links %}
{% block nav_regular_buttons %}{% endblock nav_regular_buttons %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% include "gymnastics/includes/form.html" with form=form mode='edit' only %}
      </form>
    </div>
  </div>
{% endblock content %}