{% load i18n %}
<thead>
  <th>{% trans "First Name" %}</th>
  <th>{% trans "Last Name" %}</th>
  <th>{% trans "Sex" %}</th>
  <th>{% trans "Year of Birth" %}</th>
  <th>{% trans "Club" %}</th>
  <th>{% trans "Stream" %}</th>
  <th>{% trans "Team" %}</th>
  <th>{% trans "Squad" %}</th>
  <th>
    <input type="search" class="light-table-filter form-control" data-table="athletes-table" name="table_filter">
  </th>
</thead>
<tbody>
  {% for athlete in athletes_set %}
    <tr id="athletes_row_{{ athlete.id }}">
      <td>{{ athlete.first_name }}</td>
      <td>{{ athlete.last_name }}</td>
      {% if athlete.sex == 'f' %}
        <td class="gend gend-female"><i class="fa fa-venus fa-fw"></i></td>
      {% else %}
        <td class="gend gend-male"><i class="fa fa-mars fa-fw"></i></td>
      {% endif %}
      <td>{{ athlete.year_of_birth }}</td>
      <td><a href="{% url 'clubs.detail' athlete.club.id %}">{{ athlete.club }}</a></td>
      <td><a href="{% url 'streams.detail' athlete.stream.id %}">{{ athlete.stream }}</a></td>
      <td>
        {% if athlete.team %}
          <a href="{% url 'teams.detail' athlete.team.id %}">{{ athlete.team }}</a>
        {% endif %}
      </td>
      <td>
        {% if athlete.squad %}
          <a href="{% url 'squads.detail' athlete.squad.id %}">{{ athlete.squad }}</a>
        {% endif %}
      </td>
      <td class="text-right">
        <div class="btn-group" role="group">
          <a type="button" class="btn btn-xs btn-success" href="{% url 'athletes.detail' athlete.id %}"><span class="glyphicon glyphicon-search"></span> {% trans "detail" %}</a>
          <a type="button" class="btn btn-xs btn-warning" href="{% url 'athletes.edit' athlete.id %}"><span class="glyphicon glyphicon-edit"></span> {% trans "edit" %}</a>
          <a type="button" class="btn btn-xs btn-danger confirm" data-title="Confirm Delete" data-text="{% trans "Do you really want to delete " %}{{ athlete }}?" data-confirm-button="Delete" data-confirm-button-class="btn-danger" data-id="{{ athlete.id }}" href="{% url 'athletes.delete' athlete.id %}"><span class="glyphicon glyphicon-remove"></span> {% trans "delete" %}</a>
        </div>
      </td>
    </tr>
  {% endfor %}
</tbody>