<thead>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Sex</th>
  <th>Year of Birth</th>
  <th>Club</th>
  <th>Stream</th>
  <th>Team</th>
  <th>Squad</th>
  <th></th>
</thead>
<tbody>
  {% for athlete in athletes_set %}
    <tr id="athlete_{{ athlete.id }}">
      <td>{{ athlete.first_name }}</td>
      <td>{{ athlete.last_name }}</td>
      {% if athlete.sex == 'f' %}
        <td class="gend gend-female"><i class="fa fa-venus fa-fw"></i></td>
      {% else %}
        <td class="gend gend-male"><i class="fa fa-mars fa-fw"></i></td>
      {% endif %}
      <td>{{ athlete.year_of_birth }}</td>
      <td><a href="{% url 'clubs.detail' athlete.club.id %}">{{ athlete.club }}</a></td>
      <td><a href="{% url 'streams.detail' athlete.stream.id %}">{{ athlete.stream }}</a></td>
      <td>
        {% if athlete.team %}
          <a href="{% url 'teams.detail' athlete.team.id %}">{{ athlete.team }}</a>
        {% endif %}
      </td>
      <td>
        {% if athlete.squad %}
          <a href="{% url 'squads.detail' athlete.squad.id %}">{{ athlete.squad }}</a>
        {% endif %}
      </td>
      <td class="text-right">
        <div class="btn-group" role="group">
          <a  type="button" class="btn btn-xs btn-success" href="{% url 'athletes.detail' athlete.id %}"><span class="glyphicon glyphicon-search"></span> detail</a>
          <a  type="button" class="btn btn-xs btn-warning" href="{% url 'athletes.edit' athlete.id %}"><span class="glyphicon glyphicon-edit"></span> edit</a>

          <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete-modal" data-id="{{ athlete.id }}" data-name="{{ athlete }}">
            <span class="glyphicon glyphicon-remove"></span> delete
          </button>

          {% comment %}
          <a  type="button" class="btn btn-xs btn-danger" href="{% url 'athletes.delete' athlete.id %}"><span class="glyphicon glyphicon-remove"></span> delete</a>
          {% endcomment %}
        </div>
      </td>
    </tr>
  {% endfor %}
</tbody>