<table class="table table-hover table-condensed" id="athletes-table">
  <thead>
    <th>Name</th>
    <th>Sex</th>
    <th>Year of birth</th>
    <th>Club</th>
    <th>Squad</th>
    <th>Team</th>
  </thead>
  <tbody>
    {% for athlete in athletes_set.all %}
      <tr id="athlete_{{ athlete.id }}">
        <td><a href="{% url 'athletes.detail' athlete.id %}">{{ athlete }}</a></td>
        {% if athlete.sex == 'f' %}
          <td class="gend gend-female"> &#9792;</td>
        {% else %}
          <td class="gend gend-male"> &#9794;</td>
        {% endif %}
        <td>{{ athlete.year_of_birth }}</td>
        <td><a href="{% url 'clubs.detail' athlete.club.id %}">{{ athlete.club }}</a></td>
        <td><a href="{% url 'squads.detail' athlete.squad.id %}">{{ athlete.squad }}</a></td>
        <td><a href="{% url 'teams.detail' athlete.team.id %}">{{ athlete.team }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>