{% load widget_tweaks %}
{% load i18n %}

{% load custom_template_tags %}

{% for field in form %}
  <div class="form-group row text-right {% if form.errors|get_item:field.name %} has-error{% endif %}">

    <label class="col-md-2 col-md-offset-2 control-label" for="id_{{ field.name }}">{{ field.label|translate }}</label>
    <div class="col-md-4">
      {{ field|add_class:"form-control" }}
    </div>
  </div>
{% endfor %}

<div class="col-md-5 col-md-offset-4 btn-group">
  <input class="btn btn-primary" type="submit" value="{% if mode == 'new' %}Create{% else %}Update{% endif %}"/>
  <button class="btn btn-default" type="button" onClick="javascript:history.go(-1);">{% trans "Cancel" %}</button>
</div>