{% extends "gymnastics/athletes_imports/base.html" %}

{% load i18n %}

{% block nav_main %}{% trans 'Athletes Imports' %}{% endblock nav_main %}
{% block nav_main_url %}{% url 'athletes_imports.index' %}{% endblock nav_main_url %}
{% block nav_links %}{% endblock nav_links %}
{% block nav_regular_buttons %}
  <a type="button" class="btn btn-default navbar-btn" href="{% url 'athletes_imports.new' %}">{% trans "New Import" %}</a>
{% endblock nav_regular_buttons %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">
  
      {% if athletes_imports %}
        <table class="table table-hover" id="athletes-table">
          <thead>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Club" %}</th>
            <th>#{% trans "Athletes" %}</th>
            <th></th>
          </thead>
          <tbody>
            {% for athletes_import in athletes_imports %}
              <tr id="athlete_{{ athlete.id }}">
                <td>{{ athletes_import }}</td>
                <td>
                  {% if athletes_import.club %}
                    <a href="{{ athletes_import.club.get_absolute_url }}">{{ athletes_import.club }}</a>
                  {% endif %}
                </td>
                <td>
                  {{ athletes_import.athlete_set.count }}
                </td>
                <td class="text-right">
                  <div class="btn-group" role="group">
                    <a  type="button" class="btn btn-xs btn-success"href="{% url 'athletes_imports.detail' athletes_import.id %}"><span class="glyphicon glyphicon-search"></span> {% trans "detail" %}</a>
                    <a  type="button" class="btn btn-xs btn-danger"href="{% url 'athletes_imports.delete' athletes_import.id %}"><span class="glyphicon glyphicon-remove"></span> {% trans "delete" %}</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
       {% trans "No athletes imports available in the database." %}
      {% endif %}

    </div>
  </div>
{% endblock content %}
